{% extends "base.html" %}

{% block content %}

<style>
   .banner-titles {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      font-weight: normal;
   }

   /*
   .alert {
      padding-left: 10px;
   }
   */
   div.alert.alert-student-info {
      width: 400px !important;
   }
   /*
   .table {
      margin-bottom: 0px !important;
   }
   */
   /*
   div.table.table.table-striped.table-bordered.table-hover {
      margin-bottom: 0px !important;
   }
   */

</style>


<div class="content-center">

   {% if course_list %}
   <h3> Are you sure you want to create a new course? </h3><br>
   <div class="alert alert-student-info">
      <p> <strong> List of Existing Courses: </strong></p>
      <select>
         {% for course in course_list %}
         <option value="{{course.id}}">{{course}}</option>
         {% endfor %}
      </select>

      <p> <strong>Note: </strong>To create a <strong> new offering</strong> for a course in the above list, go to the <a
            href="{% url 'department_load_summary' %}"><b>Faculty Load Summary</b></a> page.</p>

   </div>

   <h3>If the course does not exist in the above list,<br>
      go ahead and create the course:</h3>

   {% else %}
   <h3>
      Are you sure that you want to update this course's properties?
   </h3>
   <div class="alert alert-student-info">  
      <div>  
         Updating a course's properties changes them for all past and future
         offerings of the course.  If you need a course with, for example, a different number
         of credit hours or title, you may want to create a new course instead.<br><br>
         You can exit this page by using your browser's back button.
      </div> 
   </div>

   {% endif %}



   <form action="" method="post">
      {% csrf_token %}

      {{ form.as_table }}

      {% if banner_title_list|length > 0 %}
      <h3 style="margin-bottom: 0px;">Banner Names</h3>
      <div class="banner-titles">
         The following names have been used by Banner for this course. To
         remove a title, check the "delete" box.
      </div>

      <div class="alert alert-student-info">
         <table class="table table-striped table-bordered table-hover">
            <tbody>
               <tr>
                  <th>
                     Banner Name
                  </th>
                  <th style="text-align: center">
                     Delete?
                  </th>
               </tr>
               {% for banner_title in banner_title_list %}
                  <tr>
                     <td>
                        <div>
                           {{banner_title.title}}
                        </div>
                     </td>
                     <td style="text-align: center;">
                        <input style="margin-top: 0px;" type="checkbox" name="banner_titles_to_delete" id="option{{banner_title.id}}"
                           value={{banner_title.id}} />
                     </td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>



      {% endif %}

      <!--
      faculty_export_list= request.POST.getlist('faculty_for_export')

      <tbody>
         {% for faculty in faculty_list %}
         <tr>
         <th>
         <div>
           {{faculty.name}}
         </div>
         </th>
         <td> <div align="center">{{faculty.hrs}}</div> </td>
         <td>
     <input type="checkbox" {% if faculty.has_load %} checked = "yes" {% endif %} name="faculty_for_export" id="option{{faculty.id}}" value={{faculty.id}} />
         </td>
         </tr>
         {% endfor %}
        </tbody>
      -->



      <p><input type="submit" value="Submit" /></p>
   </form>

</div>

<script>
   $(window).load(function () {
      $('.page-name').find('h1').replaceWith('<h1>{{title}}</h1>');
      $(".page-name").stop().animate({ opacity: 1, 'margin-left': '5%' }, 700);
   });
</script>

{% endblock %}