{% extends "base.html" %}

{% block content %}

<style>
    div.alert.alert-student-info {
        width: 600px!important;
    }
    div.alert.alert-success {
        width: 600px!important;
    }
    div.alert.alert-warning {
        width: 600px!important;
    }

	.warning-container {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
        margin-bottom: 20px;
		border-style: solid;
		border-width: 2px;
		color: #b94a48;
		background-color: #f2dede;
		border-color: #eed3d7;
		border-radius: 4px;
		padding: 15px;
		font-weight: normal;
	}
</style>

</style>

<div class="container">
    <div class="content-center">
        <form action="" method="post">
            {% csrf_token %}
    
        <p> <h2>Add a person to your list of faculty to view....</h2></p>
            {{ form.as_p }}
        <p> E.g., 'Patricia' or 'Smi' or 'patricia smith' </p> 
        <p><input type="submit" value="Search"></p>
        </form>
    
        {% if search_performed %}
            <div class="alert alert-student-info wide">
                
                        If your search was unsuccessful, you can  
                        click <strong><a href="{% url 'add_faculty' %}?next={{ request.path|urlencode }}">here</a></strong>
                        to create a new faculty member in your department.
                 
            </div>
        {% endif %}

        <div id="error-message-container" style="display: none;" class="warning-container">
                <div id="error-message"></div>
        </div>

        {% if search_results %}
        <div class="alert alert-student-info wide">
            <div id="facultyTable" add-faculty-url="{% url 'ajax_update_view_list' %}" redirect-url="{% url 'update_faculty_to_view' %}">
                <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Action/Status</th>
                            </tr>
                        </thead>
                        <tbody>
                
                                {% for faculty in search_results %}
                                <tr>
                                        <td>{{faculty.faculty}}</td>
                                        <td>{{faculty.faculty.department}}</td>
                                        {% if faculty.currently_being_viewed %}
                                            <td>currently being viewed</td>
                                        {% elif not faculty.is_active %}
                                            <td>currently inactive</td>
                                        {% else %}
                                            <td><a style="cursor: pointer;" onclick="addFacultyToViewList('{{faculty.faculty.id}}')">Select</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                        </tbody>
                        
                    
                </table>
            </div>
        </div>
            
        {% endif %}
    
    {% if search_performed %}
        <div style="padding-bottom: 15px">
            <a title = "Choose which faculty to display when looking at loads, schedules, etc." class="btn btn-info" href="{% url 'update_faculty_to_view' %}">Return to Manage Faculty</a>
        </div>
    {% endif %}
    </div>
</div>


<script>
    //https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html
    //https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
    function addFacultyToViewList(facultyId) {
        var url = $("#facultyTable").attr("add-faculty-url");  // get the url of the view
        var redirectUrl = $("#facultyTable").attr("redirect-url");
        // https://stackoverflow.com/questions/13465711/how-do-i-post-with-jquery-ajax-in-django
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: url,                    // set the url of the request
            dataType: 'json',
            data: {
                'facultyId': facultyId       // add the faculty id to the POST parameters
            },
            success: function (data) {   // `data` is the return of the `load_courses` view function
                console.log(data);
                console.log('success!');
                if (!data.success) {
                    document.getElementById('error-message-container').style.display = 'block';
                //console.log('got here');
                //document.getElementById('message-about-errors').style.display = 'none';
                    $("#error-message").html(data.message);
                } else {
                    window.location=redirectUrl;
                }
            }
        });
        
    };
    
</script>

<script>
    $(window).load(function(){
    $("#nav-file").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Search for Faculty Member</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
</script>

{% endblock %}
