{% extends "base.html" %}

{% block content %}

<div class="content-center">
<h3> Select the semester and other details for this section of {{course.subject.abbrev}} {{course.number}}. </h3>

<!--
<p>
<div class="alert alert-student-info">
<p> Here you select the <strong> semester </strong> during which <strong>{{course.subject.abbrev}} {{course.number}} </strong> will be taught.
</p>
</div>
</p>
<p>
<div class="alert alert-student-info">
<p> You also need to specify the <strong> total number of load hours</strong> available
to the instructor(s) for the course.  (This can be changed later.)</p>
</div>
</p>
-->

     <form action=""  method="post">
      {% csrf_token %}

      {{ form.as_table }}
      <p></p> <p></p>
      <p><input type="submit" alt="register" /></p>
     </form>



<p>

<div class="alert alert-student-info">  
  	<a class="close" data-dismiss="alert">×</a>  
 	 <div><strong>Note:</strong> The "load available" is the total number of load
hours that will be given to the instructor(s) for this course.  It can
be edited later. 
    </div>   
</div>     

<!--

<div class="alert alert-student-info">
  <a class="close" data-dismiss = "alert">x</a>
<div> <strong> Note:</strong> The "load available" is the total number of load
hours that will be given to the instructor(s) for this course.  It can
be edited later.
</div>
</div>
-->
   </div>

   <script>
    $(window).load(function(){
    $('.page-name').find('h1').replaceWith('<h1>New Section of {{course}} </h1><h2>- Select Semester -</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
