{% extends "base.html" %}

{% block content %}

   <div class="content-center">
     
      <h3>Department: {{department}}</h3>
       
     <form action=""  method="post">
      {% csrf_token %}

      {{ form.as_table }}
      <p><input type="submit" value="Submit" /></p>
     </form>
     {% if form.errors %}
         <div style="padding-bottom: 15px">
            <a title = "Choose which faculty to display when looking at loads, schedules, etc." class="btn btn-info" href="{% url 'update_faculty_to_view' %}">Return to Manage Faculty</a>
         </div>
      {% endif %}

</div>

   <script>
    $(window).load(function(){
    $('.page-name').find('h1').replaceWith('<h1>{{title}}</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
