{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}
{% load static %}
<style>
* {outline}
</style>

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script type='text/javascript'>
	var json_data = {{ json_data|safe }};
</script>

<div class="container">
	<p>This page allows you to compare your course offerings with those in Banner and
		request changes from the Registrar.
	</p>
</div>

<div id="app">
	<v-app>

			
			<template>
					<div class="text-center">
					  <v-menu offset-y>
						<template v-slot:activator="{ on }">
						  <v-btn
							color="primary"
							dark
							v-on="on"
						  >
							Actions
						  </v-btn>
						</template>
						<v-list>
						  <v-list-item
							v-for="(item, index) in items"
							:key="index"
							@click=""
						  >
							<v-list-item-title>[[item.title]]</v-list-item-title>
						  </v-list-item>
						</v-list>
					  </v-menu>
					</div>
				  </template>



		<!-- https://stackoverflow.com/questions/52819619/understand-rows-per-page-items-at-vuetify-data-iterators-data-tables-can-i-->
		<template>
				
			<template>
					<v-toolbar flat color="white">
						<v-toolbar-title>Course Offerings</v-toolbar-title>
						<v-spacer></v-spacer>
						<v-btn color="primary" dark @click="expand = !expand">
							[[ expand ? 'Close' : 'Keep' ]] other rows
						</v-btn>
					</v-toolbar>
			</template>	
			<v-data-table
			:headers="headers"
			:items="courses"
			:expand="expand"
			:pagination.sync="pagination"
			item-key="name"
			class="elevation-1"
			>

		
					  <!--
			<template >
				<v-toolbar flat color="white">
					<v-toolbar-title>Course Offerings</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn color="primary" dark @click="expand = !expand">
						[[ expand ? 'Close' : 'Keep' ]] other rows
					</v-btn>

					<!--
					<v-dialog v-model="dialog" max-width="500px">
					
						<template v-slot:activator="{ on }">
						<v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
					</template>
					
					<v-card>
						<v-card-title>
						<span class="headline">{{ formTitle }}</span>
						</v-card-title>
			
						<v-card-text>
						<v-container grid-list-md>
							<v-layout wrap>
							<v-flex xs12 sm6 md4>
								<v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
							</v-flex>
							<v-flex xs12 sm6 md4>
								<v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
							</v-flex>
							<v-flex xs12 sm6 md4>
								<v-text-field v-model="editedItem.fat" label="Fat (g)"></v-text-field>
							</v-flex>
							<v-flex xs12 sm6 md4>
								<v-text-field v-model="editedItem.carbs" label="Carbs (g)"></v-text-field>
							</v-flex>
							<v-flex xs12 sm6 md4>
								<v-text-field v-model="editedItem.protein" label="Protein (g)"></v-text-field>
							</v-flex>
							</v-layout>
						</v-container>
						</v-card-text>
			
						<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
						<v-btn color="blue darken-1" text @click="save">Save</v-btn>
						</v-card-actions>
					</v-card>
					</v-dialog>
			
					</v-toolbar>
				  </template>
				-->
			<template v-slot:items="props">
				<tr @click="props.expanded = !props.expanded" style="cursor: pointer;">
				<td>[[props.item.semester]]  </td>
				<td>[[props.item.crn]]  </td>
				<td class="text-xs-left">[[props.item.number]]</td>
				<td class="text-xs-left">[[props.item.name]] </td>
				<td class="text-xs-center"><v-icon v-if="props.item.hasIChair">check_circle</v-icon></td>
				<td class="text-xs-center"><v-icon v-if="props.item.hasBanner">check_circle</v-icon></td>
				<td class="text-xs-center"><v-icon class="green--text" v-if="!props.item.needsWork">check_circle</v-icon></td>
			</template>
			<template v-slot:expand="props">
					<v-card flat>
					  <v-card-text>
						  <v-container>
							<strong>[[props.item.name]]</strong>
							<v-layout row wrap align-center>
								<v-flex xs3>
									<div v-if="props.item.hasIChair">
										<div>iChair -- meeting time(s):</div>
										<ul>
											<li v-for="meetingTime in props.item.ichair.meeting_times">
													[[meetingTime]]
											</li>
										</ul>
									</div>
								</v-flex>
								
								<v-flex xs1>
										<template>
												<div class="text-center">
												  <v-dialog
													v-model="dialog"
													width="500"
												  >
													
													  <!--

													  <v-icon class="left"
														color="blue"
														dark
														v-on="on"
													  >
														edit
													  </v-icon>
													-->
												
											  
													<v-card>
													  <v-card-title
														class="headline grey lighten-2"
														primary-title
													  >
														Privacy Policy
													  </v-card-title>
											  
													  <v-card-text>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
													  </v-card-text>
											  
													  <v-divider></v-divider>
											  
													  <v-card-actions>
														<v-spacer></v-spacer>
														<v-btn
														  color="primary"
														  text
														  @click="dialog = false"
														>
														  I accept
														</v-btn>
													  </v-card-actions>
													</v-card>
												  </v-dialog>
												</div>
											  </template>
											  
											 


								</v-flex>
								<v-flex xs3 offset-xs2>
									<div v-if="props.item.hasIChair">
										<div>iChair -- instructor(s):</div>
										<ul>
											<li v-for="instructor in props.item.ichair.instructors">
													[[instructor]]
											</li>
										</ul>
									</div>
								</v-flex>

								<div style="padding-bottom: 20px" class="btn-group">
										<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
										  Actions
										  <span class="caret"></span>
										</a>
										  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
											<li>              
											  <a href="{% url 'registrar_schedule' 1 %}" target="_blank"> Edit Meeting Times in iChair </a>
											</li>
											<li>              
											  <a href="{% url 'registrar_schedule' 2 %}" target="_blank"> Accept Registrar Edits </a>
											</li>
											<li>              
													<a href="{% url 'registrar_schedule' 2 %}" target="_blank"> Request Changes from Registrar</a>
												  </li>
										  </ul>
									  </div> {# btn-group #}
					

							</v-layout>
							<v-layout row wrap>
								<v-flex xs3>
									<div v-if="props.item.hasBanner">
											<div>Registrar -- meeting time(s):</div>
											<ul>
												<li v-for="meetingTime in props.item.banner.meeting_times">
													[[meetingTime]]
												</li>
											</ul>
									</div>
								</v-flex>
								<v-flex xs3></v-flex>
								<v-flex xs3>
										<div v-if="props.item.hasBanner">
											<div>Registrar -- instructor(s):</div>
											<ul>
												<li v-for="instructor in props.item.banner.instructors">
													  [[instructor]]
												</li>
											</ul>
										</div>
								</v-flex>
								<v-flex xs3></v-flex>
							</v-layout>
						  </v-container>
						  
						

					  </v-card-text>
					</v-card>
				  </template>
			</v-data-table>
			
		</template>
	</v-app>
</div>

<script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data() {
		  return {
		  		expand: false,
				message: 'Hello Vue!',
				search: '',
				json_data: json_data,
				headers: [
					{ text: 'Semester - Fraction', value: 'semester' },
					{ text: 'CRN', value: 'crn' },
					{
						text: 'Number',
						align: 'left',
						sortable: true,
						value: 'number'
					},
					{ text: 'Name', value: 'name' , align: 'left'},
					{ text: 'In iChair', value: 'ichair', align: 'center' },
					{ text: 'In Banner', value: 'banner', align: 'center' },
					{ text: 'Done?', value: 'linked', align: 'center'  }
				],
        		courses: [],
				items: [
					{ title: 'Click Me' },
					{ title: 'Click Me' },
					{ title: 'Click Me' },
					{ title: 'Click Me 2' },
				],
				pagination: {
					rowsPerPage: 20
				}
		  };
      },
      methods: {
          greet: function(name) {
              console.log('Hello from ' + name + '!');
			  console.log('course data: ', this.courseData);
          },
		  // https://stackoverflow.com/questions/44309464/hide-table-column-with-vue-js
		  showColumn(col){
			return this.headers.find(h => h.value === col).selected
		  },
		  toggle(col) {
			let tempSelected = this.headers.find(h => h.value === col).selected;
			this.headers.find(h => h.value === col).selected = !tempSelected;
		  },
      },
	  // https://stackoverflow.com/questions/44309464/hide-table-column-with-vue-js
	  computed:{
  		filteredHeaders(){
    		return this.headers.filter(h => h.selected)
		},
		checkboxVal(col) {
			return this.headers.find(h => h.value === col).selected;
		}
	  },
	  mounted: function(){
		  console.log('mounted!');
		  console.log("message: ", this.message);
		  console.log("courses: ", this.courses);
		  var _this = this;
		  $.ajax({                       // initialize an AJAX request
				type: "GET",
				url: "/planner/ajax/fetch-banner-comparison-data/",                    // set the url of the request
				dataType: 'json',
				data: {
					'departmentId': json_data.departmentId,       // add the faculty id to the GET parameters
					'yearId': json_data.yearId
				},
				success: function (incomingData) {
					console.log(incomingData);
					console.log('success!');
					console.log('incoming data: ', incomingData);
					console.log('message: ', _this.message);
					console.log('courses: ', _this.courses);
					// https://stackoverflow.com/questions/3590685/accessing-this-from-within-an-objects-inline-function
					incomingData.course_data.forEach(course => {
						_this.courses.push({
							semester: course.semester,
							number: course.course,
							name: course.course_title,
							crn: course.crn,
							ichair: course.ichair,
							banner: course.banner,
							hasIChair: course.has_ichair,
							hasBanner: course.has_banner,
							linked: course.linked,
							needsWork: course.needs_work
						});
					});

					console.log(_this.courses);



					//if (!data.success) {
					//	document.getElementById('error-message-container').style.display = 'block';
					//console.log('got here');
					//document.getElementById('message-about-errors').style.display = 'none';
					//	$("#error-message").html(data.message);
					//} else {
					//	window.location=redirectUrl;
					//}
				}
			});
	  }
    });
</script>







<!-- https://stackoverflow.com/questions/49421170/change-font-size-of-v-radio-vuetify?rq=1 -->
<style scoped>
	.v-label {
    	font-size: 14px;
		margin-left: 2px;
	}
  	.v-input input {
		height: 32px;
		margin-bottom: 4px;
	}
</style>




<script>    
	//window.addEventListener("resize",function(){alertMessage();},true);
	$(window).load(function(){
	$("#nav-bannercomparison").addClass("current");
	$('.page-name').find('h1').replaceWith('<h1>Banner Comparison</h1><h2>{{department}}, {{academic_year_string}}</h2>');
	$(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
</script>


{% endblock %}