{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}
{% load static %}
<style>
* {outline}
</style>

<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script type='text/javascript'>
	var json_data = {{ json_data|safe }};
</script>

<div class="container">
	<p>This page allows you to compare your course offerings with those in Banner and
		request changes from the Registrar.
	</p>
</div>

<div id="app">
	<v-app>
		<!-- https://stackoverflow.com/questions/52819619/understand-rows-per-page-items-at-vuetify-data-iterators-data-tables-can-i-->
		<template>
				<div>
						<v-toolbar flat color="white">
						  <v-toolbar-title>Course Offerings</v-toolbar-title>
						  <v-spacer></v-spacer>
						  <v-btn color="primary" dark @click="expand = !expand">
							[[ expand ? 'Close' : 'Keep' ]] other rows
						  </v-btn>
						</v-toolbar>
			<v-data-table
			:headers="headers"
			:items="courses"
			:expand="expand"
			:pagination.sync="pagination"
			item-key="name"
			class="elevation-1"
			>
			<template v-slot:items="props">
				<tr @click="props.expanded = !props.expanded">
				<td>[[props.item.semester]]  </td>
				<td>[[props.item.crn]]  </td>
				<td class="text-xs-left">[[props.item.number]]</td>
				<td class="text-xs-left">[[props.item.name]] </td>
				<td class="text-xs-center"><v-icon v-if="props.item.hasIChair">check_circle</v-icon></td>
				<td class="text-xs-center"><v-icon v-if="props.item.hasBanner">check_circle</v-icon></td>
				<td class="text-xs-center"><v-icon class="green--text" v-if="!props.item.needsWork">check_circle</v-icon></td>
			</template>
			<template v-slot:expand="props">
					<v-card flat>
					  <v-card-text>
						  <v-container>
							<strong>[[props.item.name]]</strong>
							<v-layout row wrap>
								<v-flex xs3>
									<div v-if="props.item.hasIChair">
										<div>iChair -- meeting time(s):</div>
										<ul>
											<li v-for="meetingTime in props.item.ichair.meeting_times">
													[[meetingTime]]
											</li>
										</ul>
									</div>
								</v-flex>
								<v-flex xs3>
									<div v-if="props.item.hasIChair">
										<div>iChair -- instructor(s):</div>
										<ul>
											<li v-for="instructor in props.item.ichair.instructors">
													[[instructor]]
											</li>
										</ul>
									</div>
								</v-flex>
								<v-flex xs6></v-flex>
							</v-layout>
							<v-layout row wrap>
								<v-flex xs3>
									<div v-if="props.item.hasBanner">
											<div>Registrar -- meeting time(s):</div>
											<ul>
												<li v-for="meetingTime in props.item.banner.meeting_times">
													[[meetingTime]]
												</li>
											</ul>
									</div>
								</v-flex>
								<v-flex xs3>
										<div v-if="props.item.hasBanner">
											<div>Registrar -- instructor(s):</div>
											<ul>
												<li v-for="instructor in props.item.banner.instructors">
													  [[instructor]]
												</li>
											</ul>
										</div>
								</v-flex>
								<v-flex xs6></v-flex>
							</v-layout>
						  </v-container>
						  
						

					  </v-card-text>
					</v-card>
				  </template>
			</v-data-table>
			</div>
		</template>
	</v-app>
</div>

<script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data() {
		  return {
		  		expand: false,
				message: 'Hello Vue!',
				search: '',
				json_data: json_data,
				headers: [
					{ text: 'Semester - Fraction', value: 'semester' },
					{ text: 'CRN', value: 'crn' },
					{
						text: 'Number',
						align: 'left',
						sortable: true,
						value: 'number'
					},
					{ text: 'Name', value: 'name' , align: 'left'},
					{ text: 'iChair', value: 'ichair', align: 'center' },
					{ text: 'Banner', value: 'banner', align: 'center' },
					{ text: 'Done?', value: 'linked', align: 'center'  }
				],
        		courses: [],
				pagination: {
					rowsPerPage: 20
				}
		  };
      },
      methods: {
          greet: function(name) {
              console.log('Hello from ' + name + '!');
			  console.log('course data: ', this.courseData);
          },
		  // https://stackoverflow.com/questions/44309464/hide-table-column-with-vue-js
		  showColumn(col){
			return this.headers.find(h => h.value === col).selected
		  },
		  toggle(col) {
			let tempSelected = this.headers.find(h => h.value === col).selected;
			this.headers.find(h => h.value === col).selected = !tempSelected;
		  },
      },
	  // https://stackoverflow.com/questions/44309464/hide-table-column-with-vue-js
	  computed:{
  		filteredHeaders(){
    		return this.headers.filter(h => h.selected)
		},
		checkboxVal(col) {
			return this.headers.find(h => h.value === col).selected;
		}
	  },
	  mounted: function(){
		  console.log('mounted!');
		  console.log("message: ", this.message);
		  console.log("courses: ", this.courses);
		  var _this = this;
		  $.ajax({                       // initialize an AJAX request
				type: "GET",
				url: "/planner/ajax/fetch-banner-comparison-data/",                    // set the url of the request
				dataType: 'json',
				data: {
					'departmentId': json_data.departmentId,       // add the faculty id to the GET parameters
					'yearId': json_data.yearId
				},
				success: function (incomingData) {
					console.log(incomingData);
					console.log('success!');
					console.log('incoming data: ', incomingData);
					console.log('message: ', _this.message);
					console.log('courses: ', _this.courses);
					// https://stackoverflow.com/questions/3590685/accessing-this-from-within-an-objects-inline-function
					incomingData.course_data.forEach(course => {
						_this.courses.push({
							semester: course.semester,
							number: course.course,
							name: course.course_title,
							crn: course.crn,
							ichair: course.ichair,
							banner: course.banner,
							hasIChair: course.has_ichair,
							hasBanner: course.has_banner,
							linked: course.linked,
							needsWork: course.needs_work
						});
					});

					console.log(_this.courses);



					//if (!data.success) {
					//	document.getElementById('error-message-container').style.display = 'block';
					//console.log('got here');
					//document.getElementById('message-about-errors').style.display = 'none';
					//	$("#error-message").html(data.message);
					//} else {
					//	window.location=redirectUrl;
					//}
				}
			});
	  }
    });
</script>







<!-- https://stackoverflow.com/questions/49421170/change-font-size-of-v-radio-vuetify?rq=1 -->
<style scoped>
	.v-label {
    	font-size: 14px;
		margin-left: 2px;
	}
  	.v-input input {
		height: 32px;
		margin-bottom: 4px;
	}
</style>




<script>    
	//window.addEventListener("resize",function(){alertMessage();},true);
	$(window).load(function(){
	$("#nav-bannercomparison").addClass("current");
	$('.page-name').find('h1').replaceWith('<h1>Banner Comparison</h1><h2>{{department}}, {{academic_year_string}}</h2>');
	$(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
</script>


{% endblock %}