{% extends "base.html" %}

{% block content %}

<div class="content-center">
    <form action=""  method="post">
      {% csrf_token %}
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th colspan="8">Non-teaching Loads for {{academic_year_copy_from}} (further edits can be made in Faculty Loads page)</th>
            </tr>
            <tr>
            <td> Load Type </td>
            <td> Semester </td>
            <td> # Load Hours </td>
            <td> Faculty in {{academic_year_copy_from}}</td>
            <td> Faculty in {{academic_year_copy_to}}</td>
            <td style="text-align: center;"> <div> Copy </div> 
            </td>
        </tr>
    </thead>
    <tbody>
        {% for load in other_loads %}
            <tr>
                {% if load.exists %}
                <td style="color: grey">
                {% else %}
                <td>
                {% endif %}
                    {{load.other_load.load_type}}
                </td>
                {% if load.exists %}
                <td style="color: grey">
                {% else %}
                <td>
                {% endif %}
                    {{load.other_load.semester}}
                </td>
                {% if load.exists %}
                <td style="color: grey">
                {% else %}
                <td>
                {% endif %}
                    {{load.other_load.load_credit}}
                </td>
                {% if load.exists %}
                <td style="color: grey">
                {% else %}
                <td>
                {% endif %}
                    {{load.other_load.instructor}}
                </td>
                {% if load.exists %}
                <td style="color: grey">
                {% else %}
                <td>
                {% endif %}
                    <!-- https://docs.djangoproject.com/en/3.2/ref/templates/builtins/ -->
                    {% if load.exists %}
                        {{load.instructor_match}}
                    {% else %}
                        <select
                            id="option{{load.other_load.id}}"
                            name="faculty-load-{{load.other_load.id}}"
                            >
                            {% for fm in all_faculty %}
                            <option value="{{fm.id}}"
                                {% if copy_to_single_faculty_member %}
                                    {% if fm.id == faculty_member.id %} selected="selected"{% endif %} 
                                {% else %}
                                    {% if fm.id == load.other_load.instructor.id %} selected="selected"{% endif %}
                                {% endif %}
                                >
                                {{fm.first_name}} {{fm.last_name}}
                            </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    <!--
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Edit Days, Times & Rooms
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          {% for course in data.offerings %}
                          <li><a href="{% url 'update_class_schedule' course.id 0 %}?next={{ request.path|urlencode }}">{{course.name}}</a></li>
                          {% endfor %}
                        </ul>
                    </div>
                -->

                </td>

                <td style="text-align: center;">
                    {% if not load.exists %}
                    <input type="checkbox" name="loads_to_copy" id="option{{load.other_load.id}}" value={{load.other_load.id}} />
                    {% endif %} 
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<p style="margin-top: 15px;"><input type="submit" value="Submit"/></p>
</form>
</div>

 <script>
  $(window).load(function(){
  $("#nav-deptloadsummary").addClass("current");
  $('.page-name').find('h1').replaceWith('<h1>Copy Admin Loads</h1><h2>from {{academic_year_copy_from}} to {{academic_year_copy_to}}</h2>');
  $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
 </script>

{% endblock %}
