{% extends "base.html" %}

{% block content %}
<style>
  .alert.alert-student-info {
    width: 400px!important;
  }
</style>

<form action="" method="post">
      {% csrf_token %}

<div class="content-center">
<h2> Make a copy of this course offering? </h2>

<p>
<div class="alert alert-student-info">  
  <div>

<p> <b> {{course_offering}} </b> </p>
{% for meeting in meeting_info %}
<div>  {{meeting.times}} ({{meeting.room}}) </div>
{% endfor %}
<br>
{% for instructor in course_offering.instructor.all %}
<div>  {{instructor}} </div>
{% endfor %}


  </div>
</div>
</p>


<p></p>

<p> 
  <a class="btn btn-success" href="{{sending_page}}">Cancel</a>
  <input class="btn btn-success" type="submit" value="Let's do it!">
</p>
</form>


   <script>
    $(window).load(function(){
    $("#nav-coursesummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Copy {{course_offering.course.subject.abbrev}} {{course_offering.course.number}} ({{course_offering.semester}})</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
