{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}
<!--
<p> <a class="btn btn-info" href="{% url 'update_year_to_view' id %}?next={{ request.path|urlencode }}">
	    Change Academic Year</a>
</p>
-->
 <div class="content-center">

{% if can_edit %}
<p> <a class="btn btn-info" href="{% url 'add_course' 0 %}">Add a New Course</a></p>
{% endif %}


<table class="table table-striped table-bordered table-hover">
	     <thead>
	       <tr>
		<th colspan="3">Courses and Number of Sections Offered ( Summer | Fall | J-term | Spring )</th>
		</tr>
	       <tr>
	       <td> Number </td>
	       <td> Name </td>
	       <td style="text-align: center;"> Cr Hrs </td>
		{% for year in year_list %}
		   <td colspan={{number_semesters}} style="text-align: center;"> {{year}} </td>
		{% endfor %}
		{% if can_edit %}
	       <td style="text-align: center"> 
		 {% if not allow_delete %}
		 <a class="btn btn-warning" href="{% url 'allow_delete_course_confirmation' %}"> Allow Course Deletion</a>  
		 {% else %}
		 <a class="btn btn-success" href="{% url 'course_summary' 0 %}"> Do Not Allow Course Deletion</a>  
		 {% endif %}
	       </td>
	        {% endif %}
	       </tr>
	     </thead>
	     <tbody>
{% for course in course_data_list %}
    <tr>
      <td>{{course.number}}</td>
      <td> {{course.name}}</td>
      <td style="text-align: center;"> 
	{{course.credit_hrs}}
      </td>
      {% for load in course.offering_list %}
         {% for loadelement in load %}
            <td style="text-align: center;"> {% if loadelement > 0 %}
	           {{loadelement}} 
	         {% endif %}
	    </td>
	 {% endfor %}
      {% endfor %}
		{% if can_edit %}
			{% if course.subject_in_department%}
				<td style="text-align: center"><a title="Edit properties of the course itself, such as the title, course number or number of credit hours" href="{% url 'update_course' course.id %}?next={{ request.path|urlencode }}">Edit Course Properties</a> 
				{% if allow_delete %} | 
				<a href="{% url 'delete_course_confirmation' course.id %}">Delete Course</a> 
				{% endif %}
				</td>
			{% else %}
			<td></td>
			{% endif %}
	    {% endif %}
    </tr>
{% endfor %}

</div>

<!-- <script>
   document.getElementsByName("allow_delete_button").onmouseover = myAlertFunction();
   function myAlertFunction(){
     alert("Are you CRAZY?!?");
   }
 </script>
-->
  <script>
    $(window).load(function(){
    $("#nav-coursesummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Course Summary</h1><h2>{{department}}, {{year}}</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>


{% endblock %}

