{% extends "base.html" %}

{% block content %}


<div class="content-center">
<h2> Are you sure? </h2>
<p>
<div class="alert alert-student-info">  
  <div> Are you sure that you want to <b> delete </b> the following course and all of its sections for all years?  <br>
    <b>This action is not reversible.</b></div> 
</div>
</p>
<p>
<div class="alert alert-student-info">  
<div> <b> {{course}} </b> </div>
</div>
</p>

<p><a class="btn btn-success" href="{% url 'course_summary' 0 %}">No! It's all been a terrible mistake!</a></p>
<p> <a class="btn btn-warning" href="{% url 'delete_course' course.id %}">Delete</a> </p>

</div>


   <script>
    $(window).load(function(){
    $("#nav-coursesummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Delete {{course}}</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
