{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}


<script type="text/javascript" src="{{ STATIC_URL }}js/fixed_table_rc.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fixed_table_rc.css" />

<p> <a class="btn btn-info" href="{% url 'update_year_to_view' id %}?next={{ request.path|urlencode }}">
	    Change Academic Year</a>
</p>

<div class="content-center">

<!--
Some buttons types in bootstrap:

class="btn btn-default"
class="btn btn-danger"
class="btn btn-info"
class="btn btn-primary"
class="btn btn-success"
class="btn btn-warning"
-->


{% if can_edit %}
<div style="margin-top: -10px; padding: 0px 2px 2px 2px">
    <a href="{% url 'select_course' %}?next={{ request.path|urlencode }}">
	Add </a> a course offering manually.
</div>
<div style="padding: 2px 2px 8px 2px"> <a href="{% url 'choose_year_course_copy' %}?next={{ request.path|urlencode }}">
	    Copy</a> one or more course offerings from a previous year.
</div>
{% else %}<br>
{% endif %}

</div>

 <div id="year-accordion" class="accordion">
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion"
	   href="#{{all_faculty_div_id}}"
	   onclick="divRegister({{all_faculty_div_id}})">
	  <!--onclick="divRegister()"-->
	 All Faculty - All Course Offerings
	</a>
       </div>{# accordion-heading #}

      <div id="100001" class="accordion-body collapse">
	<div class="accordion-inner">

<p><a title = "Choose which faculty to display when looking at loads, schedules, etc." class="btn btn-info" href="{% url 'update_faculty_to_view' id %}?next={{ request.path|urlencode }}">Edit Which Faculty to Display</a>
</p>

<div id="table-container">

<table id='fixed_hdr1' class="table table-striped table-bordered table-hover">
	     <thead>
	       <tr>
<!--		{% if can_edit %}
		<th colspan="6">Teaching Loads </th> 
<!--		<td colspan="5"> <a class="btn" href="{% url 'update_faculty_to_view' id %}?next={{ request.path|urlencode }}">Edit Faculty to View</a> </td>

		{% else %}
		<th colspan="5">Teaching Loads </th>
<!--		<td colspan="4"> <a class="btn" href="{% url 'update_faculty_to_view' id %}?next={{ request.path|urlencode }}">Edit Faculty to View</a> </td>

		{% endif %}
		</tr>
-->
	       <th> Number </th>
	       <th> Name </th>
<!--
	       {% if can_edit %}
	       <td style="text-align: center;">  </td>
	       {% endif %}
-->
	       <th> Sem </th>
	       <th> Time </th>
	       <th> Room </th>
	       {% if can_edit %} <th> </th> {% endif %}
	        <th> Avail </th>
	       <th> Diff </th>
		{% for prof in instructor_list %}
		   <th colspan="3" style="text-align: center;"> {{prof}} </th>
		{% endfor %}
	       <th> Comments </th>
	       </tr>
	     </thead>
	     <tbody>
{% for course in course_data_list %}
    <tr>
      <td> {{course.number}}</td>
      <td> {{course.name}}</td>

      <td style="text-align: center;"> 
	{% if can_edit %}
	  <a href="{% url 'update_semester_for_course_offering' course.id %}?next={{ request.path|urlencode }}">
	    {{course.semester}}</a>
	{% else %} 
	  {{course.semester}}
        {% endif %}
      </td>
      <td style="text-align: center;">      
	{% for meeting in course.meeting_times %}
	<div>
	  {% if course.meetings_scheduled %}
	  {% if can_edit %}
	  <a href="{% url 'update_class_schedule' course.id 0 %}?next={{ request.path|urlencode }}">
	    {{meeting}}</a>
	  {% else %} 
	    {{meeting}}
	  {% endif %}
	  {% else %}
	  {% if can_edit %}
	  <a href="{% url 'new_class_schedule' course.id 0 %}">
	    {{meeting}}</a>
	  {% else %}
	    {{meeting}}
	  {% endif %}
	  {% endif %}
	</div>
	{% endfor %}
      </td> 
      <td style="text-align: center;">
	{% for room in course.rooms %}
	<div>
	  {% if course.meetings_scheduled %}
	  {% if can_edit %}
	  <a href="{% url 'update_class_schedule' course.id 0 %}?next={{ request.path|urlencode }}">
	    {{room}}</a>
	  {% else %}
	  {{room}}
	  {% endif %}
	  {% else %}
	  {% if can_edit %}
	  <a href="{% url 'new_class_schedule' course.id 0 %}">
	    {{room}}</a>
	  {% else %}
	  {{room}}
	  {% endif %}
	  {% endif %}
	</div>
	{% endfor %}
      </td>
      {% if can_edit %}
      <td style="text-align: center;"> 
	<a title="Delete this course offering" href="{% url 'delete_course_offering' course.id %}?next={{ request.path|urlencode }}">Delete</a> |
	<a  title="Assign the load for this course offering to one or more instructors" href="{% url 'update_course_offering' course.id 0 %}?next={{ request.path|urlencode }}"> Edit Loads</a>
	</td>
      {% endif %}
      </td>
      <td style="text-align: center;">
	{{course.load_hours}}</td>
	{% if course.load_difference < 0 %}
          <td style="text-align: center; color: red"> 
	  {{course.load_difference}}
	  </td>
	{% elif course.load_difference > 0 %}
	  <td style="text-align: center;"> 
	  {{course.load_difference}} 
	  </td>
	{% else %}
	  <td></td>
	{% endif %}
      {% for load in course.load_hour_list %}

	  {% if load.1 == 0 %}
	    <td style="border-right-style: dotted">
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td> <td style="border-right-style: dotted"></td><td></td>
          {% elif load.1 == 1 %}
            <td style="border-right-style: dotted"></td>
	    <td style="border-right-style: dotted">
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td><td></td>
	  {% elif load.1 == 2 %}
            <td style="border-right-style: dotted"></td><td style="border-right-style: dotted"></td>
	    <td>
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td>
	  {% else %}
	    <td colspan="3" style="text-align: right;"></td>
	  {% endif %}


<!--
	  {% if load.1 == 0 %}
	    <td colspan="3" style="text-align: left;">
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td>
          {% elif load.1 == 1 %}
	    <td colspan="3" style="text-align: center;">
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td>
	  {% elif load.1 == 2 %}
	    <td colspan="3" style="text-align: right;">
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td>
	  {% else %}
	    <td colspan="3" style="text-align: right;"></td>
	  {% endif %}
-->
      {% endfor %}
      <td style="text-align: center;"> {{course.comment}}</td>
</tr>
{% endfor %}

<tr>
<td colspan="2"> <strong>Non-Teaching Loads</strong> <a title="Choose which types of non-teaching loads to display" href="{% url 'update_loads_to_view' id %}?next={{ request.path|urlencode }}">(Edit)</a>
<!--
<p>
<a class="btn btn-info" href="{% url 'update_loads_to_view' id %}?next={{ request.path|urlencode }}">Edit Which Types of Non-Teaching Load to View</a>
</p>
-->
</td>
	       <td> </td>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %}
                <td> </td>
		{% endif %}
	       <td> </td>
	       <td> </td>
		{% for prof in instructor_list %}
		   <td style="border-right-style: dotted">  </td>
		   <td style="border-right-style: dotted">  </td>
		   <td></td>
		{% endfor %}
	       <td> </td>
</tr>


{% for data_element in admin_data_list %}
<tr>
  <td> </td>
  <td style="text-align: left;"> 
    {{data_element.load_type}} </td>
  <td> </td>
  <td> </td>
  <td> </td>
  {% if can_edit %}
      <td style="text-align: center;">
	<a title="Assign this load to one or more instructors" href="{% url 'update_other_load' data_element.id %}?next={{ request.path|urlencode }}"> Edit Loads</a>
        </td>
  {% endif %} 
	<td  style="text-align: center;">
	{{data_element.total_load}}</td>
  <td> </td>
  {% for load in data_element.load_hour_list %}
  <td style="border-right-style: dotted">
   {% if load.0 > 0 %}
      {{load.0}}
   {% endif %}
  </td>
  <td style="border-right-style: dotted">
   {% if load.1 > 0 %}
      {{load.1}}
   {% endif %}
  </td>
  <td>
   {% if load.2 > 0 %}
      {{load.2}}
   {% endif %}
  </td>
  {% endfor %}
  <td> </td>
</tr>
{% endfor %}

<tr>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %} <td colspan = "6" style="text-align: right;"> Load Summary </td>
	       {% else %} <td colspan = "5" style="text-align: right;"> Load Summary </td>
	       {% endif %}
	       {% for load in faculty_load_summary %}
	       <td style="border-right-style: dotted">
		 {{load.0}}
	       </td>
	       <td style="border-right-style: dotted">
		 {{load.1}}
	       </td>
	       <td>
		 {{load.2}}
	       </td>
	       {% endfor %}
	       <td> </td>

</tr>

<tr>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %} <td colspan = "6" style="text-align: right;"> Total </td>
	       {% else %} <td colspan = "5" style="text-align: right;"> Total </td>
	       {% endif %}
	       {% for load in total_load_hours %}
                     <td colspan="3" style="text-align: center;">
	               {{load}} 
		     </td>
	       {% endfor %}
	       <td> </td>

</tr>

<!--
<tr>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %}<td> </td>{% endif %}
	       <td> </td>
	       <td> </td>
	       <td> </td>
	       <td> </td>
	       <td> </td>
		{% for prof in instructor_list %}
		   <td colspan="3" style="text-align: center;"> {{prof}} </td>
		{% endfor %}
	       <td> </td>

</tr>
-->

</table>
</div>{# table-container #}

<p></p>
<p> <strong>Notes: </strong>(i) Any Summer loads are included with Fall. (ii) If you
resize the browser window, you may need to reload the page in order
for the above table to display properly.  </p>

</div>
</div>
</div>
</div>

<!-- ##############################################################-->
<!-- ###############  unassigned/overassigned loads  ##############-->
<!-- ##############################################################-->

 <div id="year-accordion-unassigned" class="accordion">
   <div class="accordion-group">
     <div class="accordion-heading">
       <a title="Course Offerings and Non-Teaching Loads that may require attention (meeting times are unassigned or loads are not correctly assigned)" class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion-unassigned"
	   href="#{{underassigned_load_div_id}}"
	   onclick="divRegister({{underassigned_load_div_id}})">
	  <!--onclick="divRegister()"-->
	 Under- and Over-Assigned Course Offerings
	</a>
       </div>{# accordion-heading #}

      <div id="{{underassigned_load_div_id}}" class="accordion-body collapse">
	<div class="accordion-inner">

<p><a title = "Choose which faculty to display when looking at loads, schedules, etc." class="btn btn-info" href="{% url 'update_faculty_to_view' id %}?next={{ request.path|urlencode }}">Edit Which Faculty to Display</a>
</p>

<div id="table-container">

<table id='fixed_hdr2' class="table table-striped table-bordered table-hover">
	     <thead>
	       <tr>
	       <th> Number </th>
	       <th> Name </th>

	       <th> Sem </th>
	       <th> Time </th>
	       <th> Room </th>
	       {% if can_edit %} <th> </th> {% endif %}
	        <th> Avail </th>
	       <th> Diff </th>
		{% for prof in instructor_list %}
		   <th colspan="3" style="text-align: center;"> {{prof}} </th>
		{% endfor %}
	       <th> Comments </th>
	       </tr>
	     </thead>
	     <tbody>
{% for course in unassigned_overassigned_data_list %}
    <tr>
      <td> {{course.number}}</td>
      <td> {{course.name}}</td>

      <td style="text-align: center;"> 
	{% if can_edit %}
	  <a href="{% url 'update_semester_for_course_offering' course.id %}?next={{ request.path|urlencode }}">
	    {{course.semester}}</a>
	{% else %} 
	  {{course.semester}}
        {% endif %}
      </td>
      <td style="text-align: center;">      
	{% for meeting in course.meeting_times %}
	<div>
	  {% if course.meetings_scheduled %}
	  {% if can_edit %}
	  <a href="{% url 'update_class_schedule' course.id 0 %}?next={{ request.path|urlencode }}">
	    {{meeting}}</a>
	  {% else %} 
	    {{meeting}}
	  {% endif %}
	  {% else %}
	  {% if can_edit %}
	  <a href="{% url 'new_class_schedule' course.id 0 %}">
	    {{meeting}}</a>
	  {% else %}
	    {{meeting}}
	  {% endif %}
	  {% endif %}
	</div>
	{% endfor %}
      </td> 
      <td style="text-align: center;">
	{% for room in course.rooms %}
	<div>
	  {% if course.meetings_scheduled %}
	  {% if can_edit %}
	  <a href="{% url 'update_class_schedule' course.id 0 %}?next={{ request.path|urlencode }}">
	    {{room}}</a>
	  {% else %}
	  {{room}}
	  {% endif %}
	  {% else %}
	  {% if can_edit %}
	  <a href="{% url 'new_class_schedule' course.id 0 %}">
	    {{room}}</a>
	  {% else %}
	  {{room}}
	  {% endif %}
	  {% endif %}
	</div>
	{% endfor %}
      </td>
      {% if can_edit %}
      <td style="text-align: center;"> 
	<a title="Delete this course offering" href="{% url 'delete_course_offering' course.id %}?next={{ request.path|urlencode }}">Delete</a> |
	<a  title="Assign the load for this course offering to one or more instructors" href="{% url 'update_course_offering' course.id 0 %}?next={{ request.path|urlencode }}"> Edit Loads</a>
	</td>
      {% endif %}
      </td>
      <td style="text-align: center;">
	{{course.load_hours}}</td>
	{% if course.load_difference < 0 %}
          <td style="text-align: center; color: red"> 
	  {{course.load_difference}}
	  </td>
	{% elif course.load_difference > 0 %}
	  <td style="text-align: center;"> 
	  {{course.load_difference}} 
	  </td>
	{% else %}
	  <td></td>
	{% endif %}
      {% for load in course.load_hour_list %}

	  {% if load.1 == 0 %}
	    <td style="border-right-style: dotted">
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td> <td style="border-right-style: dotted"></td><td></td>
          {% elif load.1 == 1 %}
            <td style="border-right-style: dotted"></td>
	    <td style="border-right-style: dotted">
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td><td></td>
	  {% elif load.1 == 2 %}
            <td style="border-right-style: dotted"></td><td style="border-right-style: dotted"></td>
	    <td>
	      {% if load.0 >= 0 %}
	      {{load.0}}
	      {% endif %}
	    </td>
	  {% else %}
	    <td colspan="3" style="text-align: right;"></td>
	  {% endif %}

      {% endfor %}
      <td style="text-align: center;"> {{course.comment}}</td>
</tr>
{% endfor %}

<tr>
<td colspan="2"> <strong>Non-Teaching Loads</strong> <a title="Choose which types of non-teaching loads to display" href="{% url 'update_loads_to_view' id %}?next={{ request.path|urlencode }}">(Edit)</a>
</td>
	       <td> </td>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %}
                <td> </td>
		{% endif %}
	       <td> </td>
	       <td> </td>
		{% for prof in instructor_list %}
		   <td style="border-right-style: dotted">  </td>
		   <td style="border-right-style: dotted">  </td>
		   <td></td>
		{% endfor %}
	       <td> </td>
</tr>

{% for data_element in unassigned_admin_data_list %}
<tr>
  <td> </td>
  <td style="text-align: left;"> 
    {{data_element.load_type}} </td>
  <td> </td>
  <td> </td>
  <td> </td>
  {% if can_edit %}
      <td style="text-align: center;">
	<a title="Assign this load to one or more instructors" href="{% url 'update_other_load' data_element.id %}?next={{ request.path|urlencode }}"> Edit Loads</a>
        </td>
  {% endif %} 
	<td  style="text-align: center;">
	{{data_element.total_load}}</td>
  <td> </td>
  {% for load in data_element.load_hour_list %}
  <td style="border-right-style: dotted">
   {% if load.0 > 0 %}
      {{load.0}}
   {% endif %}
  </td>
  <td style="border-right-style: dotted">
   {% if load.1 > 0 %}
      {{load.1}}
   {% endif %}
  </td>
  <td>
   {% if load.2 > 0 %}
      {{load.2}}
   {% endif %}
  </td>
  {% endfor %}
  <td> </td>
</tr>
{% endfor %}

<tr>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %} <td colspan = "6" style="text-align: right;"> Load Summary </td>
	       {% else %} <td colspan = "5" style="text-align: right;"> Load Summary </td>
	       {% endif %}
	       {% for load in faculty_load_summary %}
	       <td style="border-right-style: dotted">
		 {{load.0}}
	       </td>
	       <td style="border-right-style: dotted">
		 {{load.1}}
	       </td>
	       <td>
		 {{load.2}}
	       </td>
	       {% endfor %}
	       <td> </td>

</tr>

<tr>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %} <td colspan = "6" style="text-align: right;"> Total </td>
	       {% else %} <td colspan = "5" style="text-align: right;"> Total </td>
	       {% endif %}
	       {% for load in total_load_hours %}
                     <td colspan="3" style="text-align: center;">
	               {{load}} 
		     </td>
	       {% endfor %}
	       <td> </td>

</tr>

<!--
<tr>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %}<td> </td>{% endif %}
	       <td> </td>
	       <td> </td>
	       <td> </td>
	       <td> </td>
	       <td> </td>
		{% for prof in instructor_list %}
		   <td colspan="3" style="text-align: center;"> {{prof}} </td>
		{% endfor %}
	       <td> </td>

</tr>
-->

</table>
</div>{# table-container #}
<p></p>
<p> <strong>Notes: </strong>(i) Any Summer loads are included with Fall. (ii) If you
resize the browser window, you may need to reload the page in order
for the above table to display properly.  </p>

</div>
</div>
</div>
</div>






<!-- #########################################################-->
<!-- ###############  individual faculty loads  ##############-->
<!-- #########################################################-->

<div id="year-accordion2" class="accordion">
{% for instructor_row in data_list_by_instructor %}

   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion2"
	   href="#{{instructor_row.instructor_id}}"
	  onclick="divRegister({{instructor_row.instructor_id}})">
	 {{instructor_row.instructor}}
	</a>
       </div>{# accordion-heading #}

      <div id="{{instructor_row.instructor_id}}" class="accordion-body collapse">
	<div class="accordion-inner">

<table class="table table-striped table-bordered table-hover">
	     <thead>
	       <tr>
		<th colspan="6">Teaching Load</th>
		</tr>
	       <th> Number </th>
	       <th> Name </th>
	       <th style="text-align: center;"> Semester </th>
	       <th style="text-align: center;"> Time </th>
	       <th style="text-align: center;"> Room </th>
	       {% if can_edit %}
	       <th style="text-align: center;">  </th>
	       {% endif %}
	        <th style="text-align: center;"> Available </th>
	       <th style="text-align: center;"> Diff </th>
	       <th colspan="3" style="text-align: center;"> {{instructor_row.instructor}} </th>
	       <th style="text-align: center;"> Comments </th>
	       </tr>
	     </thead>
	     <tbody>
{% for course in instructor_row.course_info %}
    <tr>
      <td> {{course.number}}</td>
      <td> {{course.name}}</td>
      <td style="text-align: center;"> 
	{% if can_edit %}
	<a href="{% url 'update_semester_for_course_offering' course.id %}?next={{ request.path|urlencode }}">
	  {{course.semester}}</a>
	{% else %} 
	  {{course.semester}}
        {% endif %}
      </td>
      <td style="text-align: center;">      
	{% for meeting in course.meeting_times %}
	<div>
	  {% if course.meetings_scheduled %}
	  {% if can_edit %}
	  <a href="{% url 'update_class_schedule' course.id 0 %}?next={{ request.path|urlencode }}">
	    {{meeting}}</a>
	  {% else %} {{meeting}} {% endif %}
	  {% else %}
	  {% if can_edit %}
	  <a href="{% url 'new_class_schedule' course.id 0 %}">
	    {{meeting}}</a>
	  {% else %} {{meeting}} {% endif %}
	  {% endif %}
	</div>
	{% endfor %}
      </td> 
      <td style="text-align: center;">
	{% for room in course.rooms %}
	<div>
	  {% if course.meetings_scheduled %}
	  {% if can_edit %}
	  <a href="{% url 'update_class_schedule' course.id 0 %}?next={{ request.path|urlencode }}">
	    {{room}}</a>
	  {% else %} {{room}} {% endif %}
	  {% else %}
	  {% if can_edit %}
	  <a href="{% url 'new_class_schedule' course.id 0 %}">
	    {{room}}</a>
	  {% else %} {{room}} {% endif %}
	  {% endif %}
	</div>
	{% endfor %}
      </td>
      {% if can_edit %}
      <td style="text-align: center;"> 
	<a title="Delete this course offering" href="{% url 'delete_course_offering' course.id %}?next={{ request.path|urlencode }}">Delete</a> |
	<a title="Assign the load for this course offering to one or more instructors" href="{% url 'update_course_offering' course.id 0 %}?next={{ request.path|urlencode }}"> Edit Loads</a>
	</td>
      {% endif %}
      <td style="text-align: center;">
	 {{course.load_hours}} </td>
	{% if course.load_difference < 0 %}
          <td style="text-align: center; color: red"> 
	  {{course.load_difference}}
	  </td>
	{% elif course.load_difference > 0 %}
	  <td style="text-align: center;"> 
	  {{course.load_difference}} 
	  </td>
	{% else %}
	  <td></td>
	{% endif %}
	{% if course.load_hour_list.1 == 0 %}
	<td colspan="3" style="text-align: left;">
	  {% if course.load_hour_list.0 >= 0 %}
	        {{course.load_hour_list.0}} 
	  {% endif %}
	</td>
        {% elif course.load_hour_list.1 == 1 %}
	<td colspan="3" style="text-align: center;">
	  {% if course.load_hour_list.0 >= 0 %}
	  {{course.load_hour_list.0}} 
	  {% endif %}
	</td>
	{% elif course.load_hour_list.1 == 2 %}
	<td colspan="3" style="text-align: right;">
	  {% if course.load_hour_list.0 >= 0 %}
	  {{course.load_hour_list.0}} 
	  {% endif %}
	</td>
	{% else %}
	<td colspan="3" style="text-align: right;"></td>
	{% endif %}
      <td style="text-align: center;"> {{course.comment}}</td>
</tr>
{% endfor %}

<tr>
<td colspan="2"> <strong>Non-Teaching Loads</strong> <a title="Choose which types of non-teaching loads to display" href="{% url 'update_loads_to_view' id %}?next={{ request.path|urlencode }}">(Edit)</a>
<!--
<p>
<a class="btn btn-info" href="{% url 'update_loads_to_view' id %}?next={{ request.path|urlencode }}">Edit Which Types of Non-Teaching Load to View</a>
</p>
-->
</td>
  <td> </td>
  <td> </td>
  <td> </td>
    {% if can_edit %}
    <td></td>
    {% endif %} 
  <td></td>
  <td> </td>
  <td colspan="3" style="text-align: center;">  </td>
  <td> </td>
</tr>


{% for data_element in instructor_row.admin_data_list %}
<tr>
  <td> </td>
  <td> {{data_element.load_type}}</td>
  <td> </td>
  <td> </td>
  <td> </td>
    {% if can_edit %}
    <td style="text-align: center;"> 
    <a title="Assign this load to one or more instructors" href="{% url 'update_other_load' data_element.id %}?next={{ request.path|urlencode }}"> Edit Loads</a>
    </td>
    {% endif %} 
  <td style="text-align: center;"> {{data_element.total_load}}</td>
  <td> </td>
  {% for loadelement in data_element.load_hour_list %}
  <td style="text-align: center;">
    {% if loadelement > 0 %}
    {{loadelement}} 
    {% endif %}
  </td>
  {% endfor %}
  <td> </td>
</tr>
{% endfor %}

<tr>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %}
	       <td colspan="6" style="text-align: right;"> Load Summary </td>
	       {% else %}
	       <td colspan="5" style="text-align: right;"> Load Summary </td>
	       {% endif %}
	          {% for loadelement in instructor_row.load_summary %}
                     <td style="text-align: center;">
	               {{loadelement}} 
		     </td>
		  {% endfor %}
	       <td> </td>

</tr>

<tr>
	       <td> </td>
	       <td> </td>
	       {% if can_edit %}
	       <td colspan="6" style="text-align: right;"> Total </td>
	       {% else %}
	       <td colspan="5" style="text-align: right;"> Total </td>
	       {% endif %}
               <td colspan="3" style="text-align: center;">
	         {{instructor_row.total_load_hours}} 
	       </td>
	       <td> </td>

</tr>

</table>

<p> Note: Any Summer loads are included with Fall. </p>

</div>
</div>
</div>
{% endfor %}
</div>

<p>
<a title = "Choose which faculty to display when looking at loads, schedules, etc." class="btn btn-info" href="{% url 'update_faculty_to_view' id %}?next={{ request.path|urlencode }}">Edit Which Faculty to Display</a>
</p>

<!-- the following is some AJAX that keeps track of which divs are open and which are shut -->

<script>
function divRegister(id)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    /*document.getElementById("myDiv").innerHTML=xmlhttp.responseText;*/
    }
  }
xmlhttp.open("GET","/planner/divtracker/"+id+"/",true);
xmlhttp.send();
}
</script>

<!--
<div id="myDiv"><h2>Let AJAX change this text</h2></div>
-->
<!--<button type="button" onclick="divRegister()">Change Content</button>-->

<!--
<button type="button" onclick="divRegister({{close_all_divs}})">Toggle</button>
-->

<script>
    $(window).load(function(){
    var id_list = {{open_div_id_list|safe}};
    for (var n=0; n < id_list.length; n++) {
      $('#'+id_list[n]).collapse("show");
    }		      
    });
</script>

<script>
  numInstructors = {{num_faculty|safe}};
  var windowWidth = window.innerWidth;
  var windowHeight = window.innerHeight;
  if (windowHeight > 900) {
     heightInput = 400
  } else {
     heightInput = 300
  }
  if (windowWidth > 1340) { 
     colModalInput = [
	   { width: 70, align: 'left' },
	   { width: 220, align: 'left' },
	   { width: 50, align: 'center'},
	   { width: 100, align: 'center' },
	   { width: 70, align: 'center' },
           {% if can_edit %}
              { width: 120, align: 'center' },
           {% endif %}
	   { width: 40, align: 'center' },
	   { width: 40, align: 'center' }];
     for (var n=0; n< numInstructors; n++) {
           colModalInput.push({ width: 40, align: 'center' });
           colModalInput.push({ width: 40, align: 'center' });
           colModalInput.push({ width: 40, align: 'center' });
     }
  colModalInput.push({width: 150, align: 'center'});
  } else {
     colModalInput = [
	   { width: 60, align: 'left' },
	   { width: 220, align: 'left' },
	   { width: 50, align: 'center'},
	   { width: 100, align: 'center' },
	   { width: 60, align: 'center' },
           {% if can_edit %}
              { width: 100, align: 'center' },
           {% endif %}
	   { width: 40, align: 'center' },
	   { width: 40, align: 'center' }];
     for (var n=0; n< numInstructors; n++) {
           colModalInput.push({ width: 40, align: 'center' });
           colModalInput.push({ width: 40, align: 'center' });
           colModalInput.push({ width: 40, align: 'center' });
     }
  colModalInput.push({width: 150, align: 'center'});
  }
  if (windowWidth < 1230 || windowHeight < 800) {
     alert("For better viewing of tables on this page, you may wish to resize your browser window and/or decrease the font size (using 'control -' on a PC or 'command -' on a Mac).  After doing either of these, please refresh the page in order for the tables to display properly. \n \nTo increase the font size later on, use 'control =' on a PC or 'command =' on a Mac.")
  }		      


</script>

<script>
$('#fixed_hdr1').fxdHdrCol({
        {% if can_edit %}
           fixedCols: 8,
        {% else %}
           fixedCols: 7,
        {% endif %}
	width:     "100%",
	height: heightInput,
	colModal: colModalInput	
});
$('#fixed_hdr2').fxdHdrCol({
        {% if can_edit %}
           fixedCols: 8,
        {% else %}
           fixedCols: 7,
        {% endif %}
	width:     "100%",
	height: heightInput,
	colModal: colModalInput	
});
</script>



  <script>
    $(window).load(function(){
    $("#nav-deptloadsummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Faculty Load Summary</h1><h2>{{department}}, {{academic_year}}</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>


{% endblock %}
