<!DOCTYPE html>
<html lang="en">

{% load static %}
  <head>
    <title>iChair Faculty Load Scheduler</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href='{% static "css/bootstrap.css" %}' rel="stylesheet" media="screen">
    <link href='{% static "css/igrad.css" %}' rel="stylesheet" media="screen">
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
      <div class="row-fluid">
	<div class="span3">
	  {% block sidebar %}{% endblock %}
	</div>
	<div class="span9">
	  {% block content %}{% endblock %}
	</div>
      </div>

    
  </body>

</html>
