{% extends "base.html" %}

{% block content %}
<div class="content-center">
  {% if success %}
    <p> Export complete!  The folder and file name are as follows: </p>
    <p> {{file_name}}</p>
  {% else %}
    <p> No file was exported because no faculty members were selected. </p>
  {% endif %}
  <a href="{% url 'department_load_summary' %}"> Continue  </a>
</div>



   <script>
    $(window).load(function(){
    $("#nav-deptloadsummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Export Complete</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
