{% extends "base.html" %}

{% block sidebar %}

<style>
	select {
		margin-bottom: 0px;
	}
	.faculty-table {
		width: 800px !important;
	}
</style>

{% if can_edit %}
	{% if ready_to_download_data %}
		<div class="span12">
			<div style="margin-top: 20px">
				Your data is ready to be downloaded.  Click <a href="{% url 'export_data' %}" download>here</a> to start the download.
			</div>
		</div>
	{% else %}
		<form action="" method="post">
			{% csrf_token %}
			<p>
			<h2>Type of Load Sheet to Export</h2>
			</p>
			<p>
			<div class="alert alert-student-info">
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						<tr>
							<td>
								<div align="center">
									<select name="doc_type" id="option1">
										<option value="actual">Actual Load Sheet</option>
										<option value="projected">Projected Load Sheet</option>
									</select>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</p>
			<p>
			<h2> Faculty Members to Include</h2>
			</p>
			<p>
			<div class="alert alert-student-info faculty-table">
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						<tr>
							<th>
								Name
							</th>
							<th style="text-align: center;">
								Department
							</th>
							<th style="text-align: center;">
								Adjunct?
							</th>
							<th style="text-align: center;">
								Load This Dept
							</th>
							<th style="text-align: center;">
								Load Other Dept(s)
							</th>
							<th style="text-align: center;">
								Include
							</th>
							<th>
								Comments
							</th>
						</tr>
						{% for faculty in faculty_list %}
						<tr>
							<th>
								{{faculty.name}}
							</th>
							<td style="text-align: center;">
								{{faculty.dept}}
							</td>
							<td style="text-align: center;">
								{% if faculty.is_adjunct %} 
									yes 
								{% endif %}
							</td>
							<td style="text-align: center;">
								{{faculty.load_this_dept}}
							</td>
							<td style="text-align: center;">
								{{faculty.load_other_depts}}
							</td>
							<td style="text-align: center;">
								{% if faculty.include_checkbox %}
									<input type="checkbox" {% if faculty.set_checkbox %} checked="yes" {% endif %}
										name="faculty_for_export" id="option{{faculty.id}}" value={{faculty.id}} />
								{% endif %}
							</td>
							<td>
								{{ faculty.comment }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</p>

			<p>
			<h2>Name of Person Preparing Report</h2>
			</p>
			<p>
			<div class="alert alert-student-info">
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						<tr>
							<td>
								<div align="center">
									<input style="margin-bottom: 0px;" type="text" name="name_preparer" id="option2">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</p>


			<p><input type="submit" value="Submit"/></p>
		</form>
	{% endif %}

{% else %}
<p> Sorry: You cannot Export.
<p>
	{% endif %}


	<script>
		$(window).load(function () {
			$("#nav-file").addClass("current");
			$('.page-name').find('h1').replaceWith('<h1>Export Faculty Loads for {{academic_year}}</h1>');
			$(".page-name").stop().animate({ opacity: 1, 'margin-left': '5%' }, 700);
		});
	</script>

	{% endblock %}