{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}

<style>
ul.a {list-style-type:circle;}
ul.b {list-style-type:square;}
</style>

<style>
div.utilitycontainer {
    width: 60%;
    margin-left: 20%;
}

a>img {
   width: 18px;
   height: 21px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-primary {
  border-color: #337ab7;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

ul.square {list-style-type: square;}
</style>



<div class="utilitycontainer">

<div class="content-center">
<h3> Short Instructional Videos</h3>
</div>

<!-- ############### new panel ############### -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Getting Started
    </h4>
  </div>
  <div class="panel-body">
    <p>
<a href="http://screencast.com/t/6KvxZT3e0cx" target="_blank"> 
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> A brief introduction to iChair </a>
(4:58)
</p>

  </div>
</div>

<!-- ############### new panel ############### -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Adding Course Offerings
    </h4>
  </div>
  <div class="panel-body">
<p>
<a href="http://screencast.com/t/5PxcL1Cn" target="_blank"> 
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Copy course offerings from a previous academic year into the current one</a>
(3:54)
<br>
<a href="http://screencast.com/t/Bg1cCw5RhofW" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Add a course offering manually </a>
(4:42)
</p>

  </div>
</div>

<!-- ############### new panel ############### -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Editing
    </h4>
  </div>
  <div class="panel-body">
<p>
<a href="http://screencast.com/t/PqJdSBuK3GhC" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Edit teaching loads assigned to instructors</a>
(2:57)
<br>
<a href="http://screencast.com/t/uCWRXhxFuAN" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Move a course offering to a different semester</a>
(2:13)
<br>
<a href="http://screencast.com/t/DpbSYBBn" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Edit time(s) and/or room(s) for a course offering</a>
(4:12)
<br>
<a href="http://screencast.com/t/cZBjosMDpV5Y" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Edit non-teaching (administrative) loads assigned to faculty members</a>
(3:26)
<br>
<a href="http://screencast.com/t/9TYRZtD8" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Edit properties of a course, such as the title, course number and number of credit hours</a>
(1:08)
</p>

  </div>
</div>

<!-- ############### new panel ############### -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Deleting
    </h4>
  </div>
  <div class="panel-body">
<p>
<a href="http://screencast.com/t/s3LLNomm" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Delete a specific offering of a course</a>
(1:42)
<br>
<a href="http://screencast.com/t/C2QyCHtK" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Completely delete
a course from the database, along with all of its offerings from 
every year</a>
(4:00)
</p>

  </div>
</div>

<!-- ############### new panel ############### -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Changing Faculty and Rooms that are Displayed
    </h4>
  </div>
  <div class="panel-body">
<p>
<a href="http://screencast.com/t/2dQj92jBfZn" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Change
faculty members that are displayed</a>
(2:16)
<br>
<a href="http://screencast.com/t/lVzXjq8PGlmR" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Change
rooms that are displayed</a>
(1:43)
</p>

  </div>
</div>

<!-- ############### new panel ############### -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Export Faculty Load Sheets
    </h4>
  </div>
  <div class="panel-body">
<p>
<a href="http://screencast.com/t/OulaEkineZb" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Export faculty load sheets in Excel format</a>
(4:01)
<br>
<a href="http://screencast.com/t/0eMsKo0T0bOE" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Add comments that will appear in faculty load sheets </a>
(1:23)
</p>

  </div>
</div>

<!-- ############### new panel ############### -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Other
    </h4>
  </div>
  <div class="panel-body">
<p>
<a href="http://screencast.com/t/nGPzbGcC6OgK" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Search for courses by name or by time</a>
(3:51)
<br>
<a href="http://screencast.com/t/7tz1zHtGdt" target="_blank">
<img src="{{ STATIC_URL }}img/play-button.png" alt="video"> Use the "Notes" feature </a>
(1:39)
</p>

  </div>
</div>




</div>


<!--<p> Here is a brief <a href="http://screencast.com/t/6KvxZT3e0cx" target="_blank"> video</a>
(4:58).</p>
-->

<!--<p> Copy course offerings from a previous year (this is probably how you will normally add courses into an academic year): <a href="http://screencast.com/t/5PxcL1Cn" target="_blank"> video</a>
(3:54).</p>
-->
<!--
<p> Add a course offering manually (this is if you want add courses in one at a time -- more time consuming, but useful if you are significantly changing properties of the course, such as when it is offered, etc.): <a href="http://screencast.com/t/Bg1cCw5RhofW" target="_blank"> video</a>
(4:43).</p>
-->
<!--
<p> Edit loads assigned for a course offering <a href="http://screencast.com/t/PqJdSBuK3GhC" target="_blank"> video</a>
(2:57).</p>
-->
<!--
<p> Edit non-teaching (administrative) loads <a href="http://screencast.com/t/cZBjosMDpV5Y" target="_blank"> video</a>
(3:26).</p>
-->
<!--
<p> Edit times and/or rooms for a course offering<a href="http://screencast.com/t/DpbSYBBn" target="_blank"> video</a>
(4:12).</p>
-->
<!--
<p> Notes<a href="http://screencast.com/t/7tz1zHtGdt" target="_blank"> video</a>
(1:39).</p>
-->
<!--
<p> Comment <a href="http://screencast.com/t/0eMsKo0T0bOE" target="_blank"> video</a>
(1:23).</p>
-->

<!--
<p> Export faculty loads<a href="http://screencast.com/t/OulaEkineZb" target="_blank"> video</a>
(4:01).</p>
-->

<!--
<p>Change semester for a course offering <a href="http://screencast.com/t/uCWRXhxFuAN" target="_blank"> video</a>
(2:13).</p>
-->
<!--
<p> Search<a href="http://screencast.com/t/nGPzbGcC6OgK" target="_blank"> video</a>
(3:51).</p>
-->
<!--
<p> Delete an offering of a course<a href="http://screencast.com/t/s3LLNomm" target="_blank"> video</a>
(1:42).</p>
-->

<!--
<p> Edit properties of a course, such as title, course number and number of credit hours<a href="http://screencast.com/t/9TYRZtD8" target="_blank"> video</a>
(1:08).</p>
-->

<!--
<p> Delete an entire course from the database, along with all of its course offerings from every year<a href="http://screencast.com/t/C2QyCHtK" target="_blank"> video</a>
(4:00).</p>
-->

<!--
<p> Edit faculty members that are displayed<a href="http://screencast.com/t/2dQj92jBfZn" target="_blank"> video</a>
(2:16).</p>
-->

<!--
<p> Edit rooms that are displayed<a href="http://screencast.com/t/lVzXjq8PGlmR" target="_blank"> video</a>
(1:43).</p>
-->
<!--
 <div id="year-accordion2" class="accordion">
{# Add a new course #}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion2"
	   href="#1001">
	 Add a new course
	</a>
       </div>{# accordion-heading #}

      <div id="1001" class="accordion-body collapse">
	<div class="accordion-inner">

<p> To add a course from scratch, go to <strong> Course Summary </strong>and click the link at the top of the page.</p>
<img src="{{ STATIC_URL }}img/new_course.png" alt="new course">

<p> Fill in the information for the course, and click on <strong>Submit</strong>.</p>
<img src="{{ STATIC_URL }}img/create_course.png" alt="new course">
<p> Note that the "Schedule semester", "Schedule year" and "CRN" options are not
currently being used, so it doesn't matter what you put there.</p> 

<p> The course will now appear in <strong>Course Summary</strong>, but it will
not yet have any <strong>Course Offerings</strong> associated with it.</p>

<img src="{{ STATIC_URL }}img/manage_offerings.png" alt="new course">

<p> Click on <strong> Manage Offerings</strong> to create one or more 
offerings of the new course.  For further help, see <strong> Create a new
offering of an existing course</strong>.</p>

</div>
</div>
</div>

{# Create a new offering of an existing course #}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion2"
	   href="#1002">
	 Create a new offering of an existing course
	</a>
       </div>{# accordion-heading #}

      <div id="1002" class="accordion-body collapse">
	<div class="accordion-inner">

<p> To add or edit offerings of a course that already exists 
in the database, go to <strong> Course Summary </strong> and click on
<strong> Manage Offerings</strong>.</p>

<img src="{{ STATIC_URL }}img/manage_offerings.png" alt="new course">

<p> Select the desired semester(s) for the course offering(s) and
fill in the available load, the maximum enrollment and optional
comments.  Click on <strong> Submit</strong>.</p>

<img src="{{ STATIC_URL }}img/add_course_offering.png" alt="new course">

<p> The new course offering(s) will now show up in the <strong> Faculty
Load Summary </strong> (under <strong> Combined</strong>) for the appropriate Academic Year, but no
meeting times, rooms or professors will be specified.</p>

<img src="{{ STATIC_URL }}img/load_summary_1.png" alt="new course">

<p>For further information about adding meetings times, rooms or professors to a new course offering, 
see the appropriate help topics.</p>

</div>
</div>
</div>

{# Add or edit course meeting time #}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion2"
	   href="#1003">
	 Add or edit the meeting times or rooms for a course offering
	</a>
       </div>{# accordion-heading #}

      <div id="1003" class="accordion-body collapse">
	<div class="accordion-inner">

<p> To add or edit the meeting times or rooms for a course offering, go 
to <strong> Combined</strong> on the <strong> Faculty Load Summary</strong> page and click on the
appropriate link in the <strong> Time</strong> or <strong> Room</strong> column.</p>

<img src="{{ STATIC_URL }}img/edit_mtg_or_room_times.png" alt="new course">

<p>If the course offering had no previous offering times, the following page will
appear.  Choose the desired meeting day(s), time, duration and room and click
on <strong> Submit</strong>.</p>

<img src="{{ STATIC_URL }}img/new_mtg_times.png" alt="new course">

<p>If the course offering already had offering times and rooms, those may 
be edited.  Fill in all entries in a given row and click on
<strong> Submit</strong>.</p>


<img src="{{ STATIC_URL }}img/edit_mtg_times.png" alt="new course">


</div>
</div>
</div>

{# Add or edit professors' loads for a course offering #}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion2"
	   href="#1004">
	 Add or edit professors' loads for a course offering
	</a>
       </div>{# accordion-heading #}

      <div id="1004" class="accordion-body collapse">
	<div class="accordion-inner">

<p> To add or edit professors' loads for a course offering, go 
to the <strong> Faculty Load Summary</strong> page and click on the
appropriate link in the <strong> Load</strong> column.</p>

<img src="{{ STATIC_URL }}img/edit_prof_loads_summary.png" alt="new course">

<p>Add or edit the load(s) for the desired professor(s) and click
on <strong> Submit</strong>.</p>

<img src="{{ STATIC_URL }}img/edit_loads.png" alt="new course">

<p> The <strong>Diff</strong> column shows the difference between
the <strong> available load</strong> and the <strong> assigned load</strong>
for a given course.</p>

<img src="{{ STATIC_URL }}img/diff_column.png" alt="new course">

<p> In the above example, there is more load assigned than is
available for the course offering.</p>

</div>
</div>
</div>


{# delete an offering of a course #}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion2"
	   href="#1006">
	 Delete a particular offering of a course
	</a>
       </div>{# accordion-heading #}

      <div id="1006" class="accordion-body collapse">
	<div class="accordion-inner">


<p> The following describes how to  <strong> delete
a particular offering</strong> of a course from the database.  All information regarding
meeting times, rooms and instructors will also be deleted.
 <strong>This action cannot be undone.</strong></p>


<p> To get started, go to the <strong> Course Summary</strong> page and click 
on <strong> Manage Offerings </strong>.</p>

<img src="{{ STATIC_URL }}img/delete_course_offering_1.png" alt="new course">

<p> In many cases, it will be unambigous which course offering(s) should be deleted.  Check the
<strong> Delete </strong> box(es) and click on <strong> Submit</strong>.</p>

<img src="{{ STATIC_URL }}img/delete_course_offering_3.png" alt="new course">

<p> In the following example, it is ambiguous which of the course offerings is to be deleted, since
the identifying information that is shown is identical.</p>
<img src="{{ STATIC_URL }}img/delete_course_offering_2.png" alt="new course">

<p> In a case such as this, the <strong> Comments</strong> field can be used to disambiguate the course
offerings.  Go to <strong> Faculty Load Summary</strong> and click on the <strong> Load </strong> for
the course offering that is to be deleted.</p>

<img src="{{ STATIC_URL }}img/delete_course_offering_4.png" alt="new course">

<p> Add a distinguishing comment in the <strong> Comment</strong> field and click on <strong> Submit</strong>.</p>

<img src="{{ STATIC_URL }}img/delete_course_offering_5.png" alt="new course">

<p> Now return to the <strong> Course Summary</strong> page and click on <strong> Manage Offerings</strong> again.
The comment entered previously should now be visible, allowing for the correct course offering to be
deleted.  Check the appropriate <strong> Delete </strong> box and click on <strong> Submit</strong>.</p>

<img src="{{ STATIC_URL }}img/delete_course_offering_6.png" alt="new course">


</div>
</div>
</div>



{# Copy a course offering into the current year #}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion2"
	   href="#1007">
	 Copy a course offering from a previous year to the current year
	</a>
       </div>{# accordion-heading #}

      <div id="1007" class="accordion-body collapse">
	<div class="accordion-inner">

<p> First go to <strong>Profile</strong> and click on <strong> Edit</strong> to choose the <strong> Academic Year </strong> to which courses will be copied.  Also, <strong> Edit</strong> the <strong>Faculty</strong> for that Academic Year, as appropriate.

<img src="{{ STATIC_URL }}img/profile_year.png" alt="new course">

<p>Then go to the <strong> Faculty Load Summary</strong> page and click on the <strong> Copy </strong> link at the top of the page.</p>

<img src="{{ STATIC_URL }}img/copy_courses.png" alt="new course">

<p> Choose the <strong>"copy from"</strong> year.</p>

<img src="{{ STATIC_URL }}img/copy_from_year.png" alt="new course">

<p> Select courses to copy and click on <strong> Submit </strong> (at the bottom of the page -- not shown).</p>

<img src="{{ STATIC_URL }}img/copy_from_page.png" alt="new course">

<p> <strong> Note the following: </strong></p>
<ul class="a">
<li> Greyed-out courses already exist in the "copy to" year, so they cannot be copied forward.</li>
<li> Faculty members listed in parentheses exist in the "copy from" year, but not in the "copy to" year.
In this case, the course offering will be copied forward, but not the instructor.  (Instructors can
be added to the "copy to" year under <strong>Profile</strong>.)</li>
</ul>



</div>
</div>
</div>


{# delete a course #}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion2"
	   href="#1005">
	 Delete a course (completely) from the database
	</a>
       </div>{# accordion-heading #}

      <div id="1005" class="accordion-body collapse">
	<div class="accordion-inner">

<p> The following describes how to  <strong> completely delete
a course </strong> and all of its offerings (for every year) from the database.
 <strong>This action cannot be undone.</strong></p>

<p> Go to the <strong> Course Summary</strong> page and click 
on <strong> Delete </strong>.

<img src="{{ STATIC_URL }}img/delete_course.png" alt="new course">

<p> There is one final opportunity to back out.  Otherwise click
<strong> Delete </strong> to seal the deal.</p>

<img src="{{ STATIC_URL }}img/delete_course_final.png" alt="new course">



</div>
</div>
</div>

</div>

-->

  <script>
    $(window).load(function(){
    $("#nav-help").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Help</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>


{% endblock %}
</div>
