{% extends "base.html" %}

{% block content %}
{% load static %}
<style>
div.utilitycontainer {
    width: 70%;
    margin-left: 15%;
}

a>img {
   width: 18px;
   height: 21px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-primary {
  border-color: #337ab7;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

ul.square {list-style-type: square;}

ul.none {list-style-type: none;}
</style>


<div class="utilitycontainer">

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      iChair
    </h4>
  </div>
  <div class="panel-body">
    <p>
The sections below describe the main pages and functionality of iChair.
The <a href="{% url 'getting_started' %}">help</a> page contains several short instructional screencasts (video screen captures), several of
which are included on this page, as well.  If you are new to iChair 
or would like
a reminder of some of its features, you may
wish to watch the screencast below.
</p>

<ul class="none">
<li>
<a href="http://screencast.com/t/6KvxZT3e0cx" target="_blank"> 
<img src='{% static "img/play-button.png" %}' alt="video"> A brief introduction to iChair </a>
(4:58)<strong>*</strong>
</li>
</ul>
<strong>*Note: </strong> If the screencast is too large for your screen,
go to the bottom right corner of the screencast after it starts playing and click on the "maximize" icon.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Faculty Load Summary
    </h4>
  </div>
  <div class="panel-body">
    <p>
    The <strong> Faculty Load Summary</strong> page displays the
    course offerings being taught by the department during the given
    academic year, along with information such as who is teaching the
    course, when the course is offered, etc.
    </p>
    <p>
    Among other things, this page allows users to:
    <ul class="square">
      <li> Add or delete an offering of a course, or copy one from a
      previous year </li>
      <li> Edit the semester, offering times/locations and faculty
      members for course offerings </li>
      <li> Specify teaching and non-teaching loads for faculty
      members</li>
      <li> Move between different academic years </li>
    </ul>
    </p>
    <p> Some related screencasts:
    <ul class="none">
<li>
<a href="http://screencast.com/t/5PxcL1Cn" target="_blank"> 
<img src='{% static "img/play-button.png" %}' alt="video"> Copy course offerings from a previous academic year into the current one</a>
(3:54)<strong>*</strong>
</li>
<li>
<a href="http://screencast.com/t/Bg1cCw5RhofW" target="_blank">
<img src='{% static "img/play-button.png" %}' alt="video"> Add a course offering manually </a>
(4:42)<strong>*</strong>
</li>
<li>
<a href="http://screencast.com/t/PqJdSBuK3GhC" target="_blank">
<img src='{% static "img/play-button.png" %}' alt="video"> Edit teaching loads assigned to instructors</a>
(2:57)<strong>*</strong>
</li>
<li>
<a href="http://screencast.com/t/DpbSYBBn" target="_blank">
<img src='{% static "img/play-button.png" %}' alt="video"> Edit time(s) and/or room(s) for a course offering</a>
(4:12)<strong>*</strong>
</li>
<li>
<a href="http://screencast.com/t/cZBjosMDpV5Y" target="_blank">
<img src='{% static "img/play-button.png" %}' alt="video"> Edit non-teaching (administrative) loads assigned to faculty members</a>
(3:26)<strong>*</strong>
</li>
</ul>
</p>
<strong>*Note: </strong> If the screencast is too large for your screen,
go to the bottom right corner of the screencast after it starts playing and click on the "maximize" icon.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Master Schedule View
    </h4>
  </div>
  <div class="panel-body">
    <p>
    The <strong> Master Schedule View</strong> displays the
    departmental teaching schedule in a format similar to that used in
    the <b>Word document</b> that the <b>Registrar's office</b> sends
    to department chairs during "schedule edit" season.  Many types of
    schedule edits can be made from this page, as well.
    </p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Course Summary
    </h4>
  </div>
  <div class="panel-body">
    <p>
    The <strong> Course Summary</strong> page displays the courses
    taught by the department and how many offerings of each have been
    taught during various semesters.  This page allows the user to
    add, edit and delete courses.  (See below for the distinction
    between <strong> courses</strong> and <strong> course
    offerings</strong>.)
    </p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Courses vs. Course Offerings
    </h4>
  </div>
  <div class="panel-body">
    <p>
      Throughout the website, a distinction is drawn
      between <strong>courses</strong> and <strong> course
      offerings </strong>.  A "course" has a name, a title and a certain number of
      credit hours.  A "course offering" refers to a specific offering of a
      course, during a specific semester at certain time(s) during the week.
      There is only one course in the database corresponding to "PHY211 - University Physics," but there are several offerings of this course
      (typically one every fall).
    </p>
    <p>
      The distinction between a course and a course offering is
      important when it comes to deleting one of them.  In particular,
      deleting a <b>course</b> from the database will also delete <b>
      all </b> of the corresponding offerings, from all of the academic
      years.  This could have unintended consequences!
    </p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Schedules
    </h4>
  </div>
  <div class="panel-body">
    <p>
    The <strong> Schedules</strong> menu has several options for
    visualizing where, when and by whom various course offerings are
    being taught.
    </p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      File
    </h4>
  </div>
  <div class="panel-body">
    <p>
    The <strong> File</strong> menu contains several utilities, 
    allowing users to:
    <ul class="square">
      <li> Export faculty load sheets, in the (Excel) format required by 
	<strong>Academic Affairs</strong></li>
      <li> Export department teaching and non-teaching loads as an Excel
      file that can be used for off-line editing and brainstorming</li>
      <li> Search for courses by name and by time, including those 
	taught in different years and by different departments</li>
    </ul>
    </p>
    <p> Some related screencasts:
    <ul class="none">
<li>
<a href="http://screencast.com/t/OulaEkineZb" target="_blank">
<img src='{% static "img/play-button.png" %}' alt="video"> Export faculty load sheets in Excel format</a>
(4:01)
</li>
<li>
<a href="http://screencast.com/t/nGPzbGcC6OgK" target="_blank">
<img src='{% static "img/play-button.png" %}' alt="video"> Search for courses by name or by time</a>
(3:51)
</li>
</ul>
</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Notes
    </h4>
  </div>
  <div class="panel-body">
    <p>
    The <strong> Notes</strong> page allows the user to add, edit and
    delete time-stamped notes for keeping track of ideas and to-do items
    regarding teaching loads and schedules.
    </p>
    <p> Related screencast:
    <ul class="none">
<li>
<a href="http://screencast.com/t/7tz1zHtGdt" target="_blank">
<img src='{% static "img/play-button.png" %}' alt="video"> Use the "Notes" feature </a>
(1:39)
</li>
</ul>
</p>

  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Help
    </h4>
  </div>
  <div class="panel-body">
    <p>
    The <strong> Help</strong> page contains links to some short
    screencasts that step through topics such as how to create courses, how
    to create, edit and delete course offerings, how to assign faculty
    loads, etc.
    </p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      Profile
    </h4>
  </div>
  <div class="panel-body">
    <p>
    The <strong> Profile</strong> page contains information about the
    user, as well as the user's preferences, such as which faculty
    members to "view" in the various pages and which academic year to
    work on.  These preferences can also be accessed and set from
    other pages throughout the website.
    </p>
  </div>
</div>

  <script>
    $(window).load(function(){
    $("#nav-home").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>...a tool for planning faculty loads</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>

{% endblock %}
