{% extends "base.html" %}

{% block content %}

<style>
  .message-content-container {
    margin: 20px 20px 20px 20px;
  }
</style>

{% if can_edit %}
<p> <a class="btn btn-info" href="{% url 'update_year_to_view' id %}?next={{ request.path|urlencode }}">
	    Change Academic Year</a>
</p>
<br>

<div class="span8 offset2">
  {% if messages|length > 0 %}
    <div style="margin-bottom: 25px">
      The following messages were generated automatically when users from other departments
      made changes to courses in your department.
    </div>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
        {% for message in messages %}
          <tr class="info">
            <!--https://stackoverflow.com/questions/11481499/django-iterate-number-in-for-loop-of-a-template-->
            <td>{{ forloop.counter }}</td>
            <td>{{ message.updated_at }}</td>
            <td>
              <a class="btn btn-danger" href="{% url 'delete_message' message.id %}">Delete</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="message-content-container">
                {% for fragment in message.fragments %}
                  {% if fragment.indentation_level == 0 %}
                    <div class="tab-zero">
                      {{fragment.text}}
                    </div>
                  {% endif %}
                  {% if fragment.indentation_level == 1 %}
                    <div class="tab-one">
                      {{fragment.text}}
                    </div>
                  {% endif %}
                  {% if fragment.indentation_level == 2 %}
                    <div class="tab-two">
                      {{fragment.text}}
                    </div>
                  {% endif %}
                  {% if fragment.indentation_level == 3 %}
                    <div class="tab-three">
                      {{fragment.text}}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div style="margin-bottom: 25px">
      There are no messages to display.
    </div>
  {% endif %}
</div>

{% else %}
    <p> Sorry: You cannot view Messages. <p>
{% endif %}

  <script>
    $(window).load(function(){
    $("#nav-notes").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Messages</h1> <h2>{{dept_academic_year}}</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>

{% endblock %}
