{% extends "base.html" %}

{% block content %}

<style>
div.container {
    width: 770px;
    margin: 0 auto;
    background-color: #ffffff;
}

div.left {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}

div.content {
    float: left;
    margin-left: 200px;
    width: 160px;
    padding: 1em;
}
</style>

<div class="content-center">

{% if daisy_chaining %}
<p>
<!--<div class="alert alert-student-info">-->
 <a class="btn btn-info" href="{% url 'update_course_offering' id 1 %}">Skip This Step</a>
<!--</div>-->
</p>
{% endif %}


<!--<h3> Choose meeting times from preset options or customize them.</h3>-->

<!--
{% if daisy_chaining %}
<p>
<div class="alert alert-student-info">
 <a class="btn" href="{% url 'update_course_offering' id 1 %}">Skip This Step</a>
</div>
</p>
{% endif %}
-->

<div class="container">
  <div class="left">
    <div class="alert alert-student-info">
      <p> <h3>Choose from Preset Options...</h3> </p>
      <p>
     <form action=""  method="post">
      {% csrf_token %}

      {{ form.as_table }}
      <p><input type="submit" value="Submit" /></p>
     </form>
     </p>
     </div>
</div>
  <div class="content">
    <div class="alert alert-student-info">
       <p> <h3>... or Customize</h3> </p>
<p> If the preset options at the left don't work for this offering
of {{course.course.subject.abbrev}} {{course.course.number}}, you can customize the meeting times and rooms.</p>
{% if daisy_chaining %}
<p> <a class="btn" href="{% url 'update_class_schedule' id 1 %}">Customize Meeting Times and Rooms</a></p> 
{% else %}
<p> <a class="btn" href="{% url 'update_class_schedule' id 0 %}">Customize Meeting Times and Rooms</a></p> 
{% endif %}
  </div>
  </div>
</div>
<!--
{% if daisy_chaining %}
<p>
<div class="alert alert-student-info">
 <a class="btn" href="{% url 'update_course_offering' id 1 %}">Skip This Step</a>
</div>
</p>
{% endif %}
-->
</div>

   <script>
    $(window).load(function(){
    $('.page-name').find('h1').replaceWith('<h1>{{course}}</h1><h2>- Select Meeting Time(s) and Room(s) -</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
