{% extends "base.html" %}

{% block sidebar %}
  <div class="alert alert-student-info">
    <table class="table table-striped table-bordered table-hover">
      <tbody>
	<tr>
	  <th>Login
	  </th>
	  <td>{{ username }}</td>
	</tr>
	<tr>
	  <th>Permission</th>
	  <td>
	    {% if permission_level == 0 %}
	      Read-only
	    {% elif permission_level == 1 %}
	      Department Scheduler
	    {% elif permission_level == 2 %}
	      Superuser (oh my goodness!!!)
	    {% else %}
	      Unknown
	    {% endif %}
	  </td>
	</tr>
	<tr>
	  <th>Department 
	    {% if permission_level == 2 %}
	      (<a href="{% url 'update_department_to_view' %}?next={{request.path|urlencode }}">Edit</a>)
	    {% endif %}</th>
	  <td>{{ department }}</td>
	</tr>
	<tr>
	  <th>Academic Year (<a href="{% url 'update_year_to_view' id %}?next={{request.path|urlencode }}">Edit</a>)</th>
	  <td>{{ academic_year }}</td>
	</tr>
	<tr>
	  <th>Faculty (<a href="{% url 'update_faculty_to_view' %}?next={{request.path|urlencode }}">Edit</a>)</th>
	  <td>
	    {% for faculty in faculty_list %}
	    <div>
	      {{faculty}}
	    </div>
	    {% endfor %}
	  </td>
	</tr>
	<tr>
	  <th>Rooms (<a href="{% url 'update_rooms_to_view' id %}?next={{request.path|urlencode }}">Edit</a>)</th>
	  <td>
	    {% for room in room_list %}
	    <div>
	      {{room}}
	    </div>
	    {% endfor %}
	  </td>
	</tr>
	<!--
	<tr>
	  <th>Non-Teaching Loads (<a href="{% url 'update_loads_to_view' id %}?next={{request.path|urlencode }}">Edit</a>)</th>
	  <td>
	    {% for load in other_load_types %}
	    <div>
	      {{load}}
	    </div>
	    {% endfor %}
	  </td>
	</tr>
	-->
      </tbody>
    </table>
 </div>
  <script>
    $(window).load(function(){
    $("#nav-profile").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Profile</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>

{% endblock %}
