{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}

<p> <a class="btn btn-info" href="{% url 'update_year_to_view' id %}?next={{ request.path|urlencode }}">
	    Change Academic Year</a>
</p>

 <div class="content-center">

{% if can_edit %}
<!--<p> <a href="{% url 'choose_year_course_copy' %}?next={{ request.path|urlencode }}">
	    Copy</a> one or more course offerings from a previous year.
</p>
<p> <a href="{% url 'select_course' %}?next={{ request.path|urlencode }}">
	    Add</a> a new course offering.
</p>-->
<!--
<p> <a class="btn" href="{% url 'select_course' %}?next={{ request.path|urlencode }}">
	    Add a Section of a Course</a>
</p>
<p> <a class="btn" href="{% url 'choose_year_course_copy' %}">
	    Copy Course Sections From a Previous Year</a>
</p>
-->

<p>
<div class="btn-group">
  <a class="btn-info btn dropdown-toggle" data-toggle="dropdown" href="#">
    Add Section(s) of a Course
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li>
      <a href="{% url 'choose_year_course_copy' %}">
	Copy From a Previous Year</a>
    </li>
<!--    <li class="divider"></li>-->
    <li>
      <a href="{% url 'select_course' %}?next={{ request.path|urlencode }}">
	Add Manually</a>
    </li>
  </ul>
</div> {# btn-group #}
</p>


{% endif %}

<div class="alert alert-student-info">  
  	<a class="close" data-dismiss="alert">×</a>  
 	 <div><strong>Note:</strong> This view is intended to mimic the Word document that the Registrar's office sends out.
    </div>   
</div>     

<!--
<p> <strong>Note:</strong> This view is intended to mimic the Word document that the Registrar's office sends out.</p>
-->

<table class="table table-striped table-bordered table-hover">
	     <thead>
	       <tr>
		<th colspan="6">Courses</th>
		</tr>
	       <tr>
	       <td> Semester </td>
	       <td> Number </td>
	       <td> Name </td>
	       <td style="text-align: center"> Credit Hours </td>
	       <td style="text-align: center"> Enrl Cap </td>
	       <td style="text-align: center"> Times </td>
	       <td style="text-align: center"> Room(s) </td>
	       <td style="text-align: center"> Instructor(s) [load] </td>
	       {% if can_edit %} <td></td> {% endif %}
	       </tr>
	     </thead>
	     <tbody>
{% for course in registrar_data_list %}
    <tr>
      <td> {{course.semester}}</td>
      <td> {% if can_edit %} 
	<a href="{% url 'update_course' course.course_id %}?next={{ request.path|urlencode }}">{{course.number}}</a>
	   {% else %} {{course.number}} {% endif %}
      </td>
      <td> {{course.name}}</td>
      <td style="text-align: center"> {% if can_edit %}
	<a href="{% url 'update_course' course.course_id %}?next={{ request.path|urlencode }}">{{course.credit_hours}}</a>
           {% else %} {{course.credit_hours}} {% endif %}
      </td>
      <td style="text-align: center"> {% if can_edit %}
	<a href="{% url 'update_course_offering' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">{{course.cap}}</a>
	   {% else %} {{course.cap}} {% endif %}
      </td>
      <td style="text-align: center">
      {% for meeting in course.meeting_times_list %}
	<div>
	  {% if course.meetings_scheduled %}
	  {% if can_edit %}
	  <a href="{% url 'update_class_schedule' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">
	    {{meeting}}</a>
	  {% else %} {{meeting}} {% endif %}
	  {% else %}
	  {% if can_edit %}
	  <a href="{% url 'new_class_schedule' course.course_offering_id 0 %}">
	    {{meeting}}</a>
	  {% else %} {{meeting}} {% endif %}
	  {% endif %}
	</div>
	{% endfor %}
      </td>
      <td style="text-align: center">
      {% for room in course.room_list %}
	<div>
	  {% if can_edit %}
	  <a href="{% url 'update_class_schedule' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">
	    {{room}}</a>
	  {% else %} {{room}} {% endif %}
	</div>
	{% endfor %}
      </td>
      <td style="text-align: center"> 
	{% for instructor in course.instructor_list %}
	<div>
	  {% if can_edit %}
	  <a href="{% url 'update_course_offering' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">
	    {{instructor}}</a>
	  {% else %} {{instructor}} {% endif %}
	</div>
	{% endfor %}
      </td>
      {% if can_edit %}
      <td title = "Delete this section." style="text-align: center;"> <a href="{% url 'delete_course_offering' course.course_offering_id %}?next={{ request.path|urlencode }}">Delete Section</a>  </td>
      {% endif %}
    </tr>
{% endfor %}
</tbody>

</table>
</div>

  <script>
    $(window).load(function(){
    $("#nav-registrarsummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Master Schedule View</h1> <h2>{{department}}, {{academic_year}}</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>


{% endblock %}
