{% extends base_html %}
{% block extrahead %}
{% endblock %}
{% block content %}

<style type="text/css">

  @font-face {
  font-weight: bold;
  }
  
  
  @page {
  size: {{ pagesize }};
  margin: 1.5cm;
  @frame footer {
  -pdf-frame-content: footerContent;
  bottom: 0cm;
  margin-left: 10.3cm;
  margin-right: 9cm;
  height: 1.5cm;
  }
  
  }
</style>

{% if not printer_friendly %}
<!-- spinner help from W3schools: https://www.w3schools.com/howto/howto_css_loader.asp -->

<!-- https://www.w3schools.com/css/css_border_color.asp -->
<style>

.input-text-box {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 2px;
	font-size: 14px;
	line-height: 20px;
	color: #888888;
	vertical-align: middle;
	border-radius: 4px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 500px;
	border-color: #555555;
	border-width: 1px;
}

.alert-student-info {
	width: 100%!important;
}

.loader-container {
	width: 100%;
	display: none;
}
.loader {
	margin-left: auto;
	margin-right: auto;
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
</style>
{% endif %}



{% if printer_friendly %}

<style>
  table {
  border: 1px solid #666666;
  border-collapse:collapse;
  border-color:#ccc;
  }
  td, th {
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: -1px;
  margin: 0px;
  }
</style>

{% if font_size_large %}
<style>
  td, th {
  font-size: 12px;
  }
</style>
{% endif %}

        <div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
        </div>
{% endif %}

{% if not printer_friendly %}

<div class="span3">
	{% if can_edit %}
	<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
		Academic Year
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		<li>              
		<a href="{% url 'update_year_to_view' id %}?next={{ request.path|urlencode }}"> Change Academic Year</a>
		</li>
		<li>              
		<a title="Create, edit or hide sandbox years"
			href="{% url 'manage_sandbox_years' %}?next={{ request.path|urlencode }}"> Manage Sandbox Years </a>
		</li>
	</ul>
	{% else %}

	<div>
		<a class="btn btn-info" href="{% url 'update_year_to_view' id %}?next={{ request.path|urlencode }}">
			Change Academic Year</a>
	</div>
	{% endif %}
	<div style="padding-bottom: 10px; padding-top: 10px;">
		<a title = "Choose which faculty to display when looking at loads, schedules, etc." class="btn btn-info" href="{% url 'update_faculty_to_view' %}?next={{ request.path|urlencode }}">Manage Faculty</a>
  	</div>
	<div style="padding-bottom: 20px;" class="btn-group">
    <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
      Printer Friendly Version
      <span class="caret"></span>
    </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li>              
          <a href="{% url 'registrar_schedule' 1 %}" target="_blank"> Small Font </a>
        </li>
        <li>              
          <a href="{% url 'registrar_schedule' 2 %}" target="_blank"> Larger Font </a>
        </li>
      </ul>
  </div> {# btn-group #}
</div>
<div class="span6">
	{% if can_edit %}
		<div class="content-center">
			<div style="margin-top: 25px; padding: 0px 2px 2px 2px">
				<a href="{% url 'select_course' %}?next={{ request.path|urlencode }}">
					Add </a> a course offering manually.
			</div>
			<div style="padding: 2px 2px 2px 2px"> <a href="{% url 'choose_year_course_copy' %}?next={{ request.path|urlencode }}">
					Copy</a> one or more course offerings from another year.
			</div>
			<div style="padding: 2px 2px 8px 2px"> 
				<a href="https://www.youtube.com/watch?v=wxKWqCRh7BA" target="_blank">Watch</a>
				a short video for some help getting started on a new academic year.
			</div>
		</div>
	{% else %}<br>
	{% endif %}

	{% if not check_conflicts %}
	
		<div id="message-about-errors">
			<div class="message-container">
				<a style="padding-right: 10px;" class="close" data-dismiss="alert" onclick="hideMessage()">×</a>  
				<p class="content-center"><strong>Check for Conflicts...? </strong></p>
				<p>Click <strong><a href="{% url 'registrar_schedule' 0 1 %}" onclick="launchSpinner()">here</a></strong> to
				check for conflicts within this department. 
				</p>
				<p>
				Go to <strong><a href="{% url 'weekly_schedule' %}">faculty schedules</a></strong>
				or <strong><a href="{% url 'room_schedule' %}">room schedules</a></strong>
				to find other possible conflicts.
				</p>  

			</div>   
		</div>
		<div id ="spinner" class="loader-container">
			
				<div class="loader"></div>
			
		</div>
		

	{% endif %}
	{% if messages|length > 0 and can_edit %}
		{% for message in messages %}
			<div id="messageBox" class="message-container zero-min-height">
				<a style="padding-right: 10px;" class="close" data-dismiss="alert" onclick="dismissMessage({{ message.id }})">×</a>
				{% for fragment in message.fragments %}
					{% if fragment.indentation_level == 0 %}
						<div class="tab-zero">
							{{fragment.text}}
						</div>
					{% endif %}
					{% if fragment.indentation_level == 1 %}
						<div class="tab-one">
							{{fragment.text}}
						</div>
					{% endif %}
					{% if fragment.indentation_level == 2 %}
						<div class="tab-two">
							{{fragment.text}}
						</div>
					{% endif %}
					{% if fragment.indentation_level == 3 %}
						<div class="tab-three">
							{{fragment.text}}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	{% endif %}

</div>
<div class="span2">
	<!-- https://www.w3schools.com/tags/att_option_selected.asp -->
	<select onchange="setSemesterToView(event)" name="semester" id="semester">
	    {% for semester in semester_options %}
			{% if semester.id == chosen_semester_id %}
	      		<option value={{semester.id}} selected>{{semester.name}}</option>
			{% else %}
				<option value={{semester.id}}>{{semester.name}}</option>
			{% endif %}
	    {% endfor %}
	</select>
</div>
<!--chosen_semester-->

{% if check_conflicts %}
	{% if faculty_time_conflicts or room_conflicts or overbooked_rooms %}
		<div id="error-messages" class="span8 offset2">
			<div class="alert alert-student-info">  
				<a style="padding-right: 20px;" class="close" data-dismiss="alert" onclick="hideErrorMessages()">×</a>  
				{% if faculty_time_conflicts %}
					<div class="content-center" style="padding-top: 20px;">
						<strong>
							Faculty Time Conflicts
						</strong>
					</div>
					<ul>
					{% for semester_message in faculty_time_conflicts %}
						<li> <strong>{{ semester_message.semester }}:</strong>
							<ul>
							{% for error in semester_message.error_messages %}
								<li>
									{{error}}
								</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
				{% if room_conflicts %}
					<div class="content-center" style="padding-top: 20px;">
						<strong>
							Room Conflicts
						</strong>
					</div>
					<ul>
					{% for semester_message in room_conflicts %}
						<li> <strong>{{ semester_message.semester }}:</strong>
							<ul>
							{% for error in semester_message.error_messages %}
								<li>
									{{error}}
								</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
				{% if overbooked_rooms %}
					<div class="content-center" style="padding-top: 20px;">
						<strong>
							Overbooked Rooms
						</strong>
					</div>
					<ul>
					{% for semester_message in overbooked_rooms %}
						<li> <strong>{{ semester_message.semester }}:</strong>
							<ul>
							{% for error in semester_message.error_messages %}
								<li>
									{{error}}
								</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	{% else %}
		<div id="error-messages" class="span4 offset1 content-center">
			<div class="alert alert-student-info">  
				<a style="padding-right: 20px;" class="close" data-dismiss="alert" onclick="hideErrorMessages()">×</a>  
				No time or room conflicts were found.
			</div>
		</div>
	{% endif %}
{% endif %}




{% endif %}


<div class="span12" style="margin-left: 0px;">
	<!-- https://developer.mozilla.org/en-US/docs/Web/API/Element/input_event -->
	<input class="input-text-box" placeholder="Search (e.g., 16142, PHY 311, Smith, Calculus II or Reade 240)" name="search" />
	<p id="search-string"></p>
</div>

<div class="content-center">
	
<table class="table table-striped table-bordered table-hover">
	     <thead>
	       <tr>
		 {% if not printer_friendly %}
		 <th colspan="6">Courses</th>
		 {% else %}
		 <th colspan="9">Master Schedule for {{department}} ({{academic_year}})</th>
		 <div></div>
		 {% endif %}
		</tr>
	       <tr>
		 {% if not printer_friendly %}
		 <th> Sem - Frac</th>
		 <th>CRN</th>
		 <th> Number </th>
		 <th> Name </th>
		 <th style="text-align: center"> Cr Hrs </th>
		 <th style="text-align: center"> Enrl Cap </th>
		 <th style="text-align: center"> Times </th>
		 <th style="text-align: center"> Room(s) </th>
		 <th style="text-align: center"> <div>Instructor(s) [load]</div><div>*primary</div> </th>
		 <th style="text-align: center"> Comments</th>
		 {% if can_edit %} <th></th> {% endif %}
		 {% else %}
		 <th style="width:13%;"> Semester - Fraction</th>
		 <th style="width:6%;">  CRN </th>
		 <th style="width:9%;">  Number </th>
		 <th style="width:20%;"> Name </th>
		 <th style="text-align: center; width:7%;"> Cr Hrs </th>
		 <th style="text-align: center; width:7%;"> Enrl Cap </th>
		 <th style="text-align: center; width:13%;"> Times </th>
		 <th style="text-align: center; width:10%;"> Room(s) </th>
		 <th style="text-align: center; width:15%;"> Instructor(s) [load] </th>
	       {% endif %}
	       </tr>
	     </thead>
	     <tbody>
{% for course in registrar_data_list %}
    <tr id="{{course.course_offering_id}}">
      <td> 
	{% if not printer_friendly and can_edit %}
	  <a href="{% url 'update_semester_for_course_offering' course.course_offering_id %}?next={{ request.path|urlencode }}">{{course.semester}} - {{course.semester_fraction}}</a>
	{% else %} 
	  {{course.semester}} - {{course.semester_fraction}}
        {% endif %}
      </td>
	  <td>
		{% if course.crn != None %}
	   		{{course.crn}}
	   {% endif %}
	  </td>
      <td>{{course.number}}</td>
      <td title="{{course.banner_titles}}"> {{course.name}}</td>
      <td style="text-align: center"> 
				{{course.credit_hours}}
      </td>
      <td style="text-align: center"> {% if not printer_friendly and can_edit %}
	<a href="{% url 'update_course_offering' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">{{course.cap}}</a>
	   {% else %} {{course.cap}} {% endif %}
      </td>
      <td style="{% if not course.meetings_scheduled %}background-color: #f2dede; {% endif %} text-align: center">
      {% for meeting in course.meeting_times_list %}
	<div>
	  {% if course.meetings_scheduled %}
	  {% if not printer_friendly and can_edit %}
	  <a href="{% url 'update_class_schedule' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">
	    {{meeting}}</a>
	  {% else %} {{meeting}} {% endif %}
	  {% else %}
	  {% if not printer_friendly and can_edit %}
    <a href="{% url 'new_class_schedule' course.course_offering_id 0 %}">
      {{meeting}}</a>
	  {% else %} {{meeting}} {% endif %}
	  {% endif %}
	</div>
	{% endfor %}
      </td>
      <td style="{% if not course.meetings_scheduled %}background-color: #f2dede; {% endif %} text-align: center">
      {% for room in course.room_list %}
	<div>
	  {% if not printer_friendly and can_edit %}
	  <a href="{% url 'update_class_schedule' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">
	    {{room}}</a>
	  {% else %} {{room}} {% endif %}
	</div>
	{% endfor %}
      </td>
      <td style="{% if not course.loads_OK %}background-color: #f2dede; {% endif %} text-align: center"> 
	{% for instructor in course.instructor_list %}
	<div>
	  {% if not printer_friendly and can_edit %}
	  <a href="{% url 'update_course_offering' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">
	    {{instructor}}</a>
	  {% else %} {{instructor}} {% endif %}
	</div>
	{% endfor %}
      </td>

	  {% if not printer_friendly %}
      {% if can_edit %}
      <td style="text-align: center;"> <a href="{% url 'update_course_offering' course.course_offering_id 0 %}?next={{ request.path|urlencode }}">{{course.comment}}</a>  </td>
	  {% else %}
	  <td style="text-align: center;">{{course.comment}}</td>
	  {% endif %}
      {% endif %}

      {% if not printer_friendly %}
      {% if can_edit %}
      <td style="text-align: center;"> 
		{% if not is_sandbox_year %}
	  		<a title = "Delete this course offering" href="{% url 'delete_course_offering' course.course_offering_id %}?next={{ request.path|urlencode }}">Delete</a>
		{% else %}
			<a title = "Delete this course offering" onclick="deleteCourseOffering({{course.course_offering_id}}, {{department.id}}, {{academic_year.id}})" href="#">Delete</a>
		{% endif %}
		|
		<a title = "Make a copy of this course offering" href="{% url 'copy_course_offering' course.course_offering_id %}?next={{ request.path|urlencode }}">Copy</a>  
	  </td>
      {% endif %}
      {% endif %}
    </tr>
{% endfor %}
</tbody>

</table>
</div>

<script>


function unhideErrorMessages() {
	document.getElementById('error-messages').style.display = 'block';
	document.getElementById('message-about-errors').style.display = 'none';
};

function hideErrorMessages() {
	document.getElementById('error-messages').style.display = 'none';
};

function hideMessage() {
	document.getElementById('message-about-errors').style.display = 'none';
};

function launchSpinner() {
	document.getElementById('message-about-errors').style.display = 'none';
	document.getElementById('spinner').style.display = 'inline';
}

	
</script>

<script>
	var courseOfferingData = {{json_registrar_data_list|safe}};
	// https://developer.mozilla.org/en-US/docs/Web/API/Element/input_event
	const input = document.querySelector("input");
	input.addEventListener("input", updateValue);

	// the following function is borrowed from purchase tracker....
	function stringInList(search, searchStringArray) {
		let stringMatches = false;
		searchStringArray.forEach((element) => {
			if (!((element === null) || (element === ''))) {
				if (element.toLowerCase().indexOf(search) > -1) {
					stringMatches = true;
				}
			}
		});
		return stringMatches;
	}

	function updateValue(e) {
		let search;
		let inputVal = e.target.value;
		if ((inputVal === null) || (typeof inputVal === 'undefined')) {
			search = '';
		} else {
			search = inputVal.toLowerCase();
		}
		// https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_split4
    // the following splits the search string and keeps the parts that are separated by one or more spaces
    let searchTerms = search.split(" ").filter((newString) => newString!=="");

		courseOfferingData.forEach(courseOffering => {
			// https://stackoverflow.com/questions/47573098/how-do-i-search-through-multiple-fields-in-vue-js-2
			let searchStringArray = [
				// https://www.w3schools.com/jsref/jsref_tostring_number.asp
				courseOffering.semester.toLowerCase()
			];
			if (courseOffering.crn !== null) {
				searchStringArray.push(courseOffering.crn);
			}
			courseOffering.instructor_list.forEach(instructor => {
				let instructorList = instructor.split(" ").filter((newString) => newString!=="");
				instructorList.forEach(instructorElement => {
					searchStringArray.push(instructorElement.toLowerCase());
				});
			});
			courseOffering.room_list.forEach(room => {
				searchStringArray.push(room.toLowerCase());
			});
			let courseNumberArray = courseOffering.number.split(" ").filter((newString) => newString!=="");
			courseNumberArray.forEach(courseNumber => {
				searchStringArray.push(courseNumber.toLowerCase());
			});
			let courseNameArray = courseOffering.name.split(" ").filter((newString) => newString!=="");
			courseNameArray.forEach(courseName => {
				searchStringArray.push(courseName.toLowerCase());
			});

			let allSearchTermsInRequestData = true;
			searchTerms.forEach((searchTerm) => {
				if (!stringInList(searchTerm, searchStringArray)) {
					allSearchTermsInRequestData = false;
				}
			});

			// https://stackoverflow.com/questions/6242976/javascript-hide-show-element
			// https://stackoverflow.com/questions/19797064/show-hide-table-rows-using-javascript-classes
			let courseOfferingRow = document.getElementById(courseOffering.course_offering_id);
			if (allSearchTermsInRequestData) {
				courseOfferingRow.style.display = 'table-row';
			} else {
				courseOfferingRow.style.display = 'none';
			}
		});
	}
</script>

<script>
	function dismissMessage(id) {
		console.log('dismissing message', id, typeof id);
		let dataForPost = {
			messageId: id
		};
		$.ajax({
          // initialize an AJAX request
          type: "POST",
          url: "/planner/ajax/dismiss-message/", // set the url of the request
          dataType: "json",
          data: JSON.stringify(dataForPost),
          success: function(incomingData) {
			  console.log(incomingData);
		  }
		});
	}
</script>

<script>
	function setSemesterToView(event) {
		console.log('setting semester to view', event.target.value, typeof event.target.value);

		let dataForPost = {
			semesterNameId: +event.target.value
		};
		$.ajax({
          // initialize an AJAX request
          type: "POST",
          url: "/planner/ajax/set-semester-to-view/", // set the url of the request
          dataType: "json",
          data: JSON.stringify(dataForPost),
          success: function(incomingData) {
			  console.log(incomingData);
			  /* now reload the page; https://stackoverflow.com/questions/52949655/force-reload-on-clients-webpage-django */
			  location.reload();
		  }
		});
	}
</script>

<script>
	/*
	This function is only being called for sandbox years (at least at this point), so there will not be
	an associated Banner course offering, etc.
	*/
	function deleteCourseOffering(courseOfferingId, departmentId, yearId) {
		console.log('deleting course offering', courseOfferingId, typeof courseOfferingId);
		console.log(departmentId, yearId);
		let dataForPost = {
			courseOfferingId: courseOfferingId,
			hasBanner: false,
			unlinkedIChairCourseOfferingIds: [],
			bannerCourseOfferingId: null,
			departmentId: departmentId,
			yearId: yearId,
			termCode: '',
			deltaId: null
		};
		$.ajax({
          	// initialize an AJAX request
          	type: "POST",
          	url: "/planner/ajax/delete-course-offering/", // set the url of the request
       		dataType: "json",
        	data: JSON.stringify(dataForPost),
        	success: function(incomingData) {
			  	console.log(incomingData);
			  	/* now reload the page; https://stackoverflow.com/questions/52949655/force-reload-on-clients-webpage-django */
			  	location.reload();
		  }
		});
	}
</script>



  <script>
    $(window).load(function(){
    $("#nav-registrarsummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Master Schedule View</h1> <h2>{{dept_academic_year}}</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>


{% endblock %}
