{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}

<p> <a class="btn btn-info" href="{% url 'update_year_to_view' id %}?next={{ request.path|urlencode }}">
	    Change Academic Year</a>
</p>
<p>
<a title="Choose which rooms to display" class="btn btn-info" href="{% url 'update_rooms_to_view' id %}?next={{ request.path|urlencode }}">Edit Rooms to Display</a>
</p>

<script>
  {% include "canvas2pdf/lib/pdfkit.js" %}
  {% include "canvas2pdf/lib/blob-stream.js" %}
  {% include "canvas2pdf/canvas2pdf.js" %}
  {% include "canvas2pdf/create-schedule.js" %}
</script>

<script>
  var roomData = {{json_room_data|safe}};
  /*
  according to http://pdfkit.org/docs/paper_sizes.html, Letter size is 612x792 postscript points;
  according to https://www.unitconverters.net/typography/pixel-x-to-postscript-point.htm, this converts to 816x1056 px;
  note: not completely sure that 1056 px is actually the max height on the page...seems like the printable region is a bit
  larger than this, but OK....
  */
  var maxHeight = 1056;
  var showFlexibleSchedule = {};
  var showPdfSchedule = {};
  // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries
  for ([key, value] of Object.entries({{json_room_data|safe}})) {
    showFlexibleSchedule[key] = true;
    showPdfSchedule[key] = false;
  };
  // the following must match the ids of the appropriate html elements in the template
  var htmlElementIds = {
    toggle: "toggle-", 
    pdf: "span-switch-to-pdf-",  
    normal: "span-switch-to-normal-",
    legal: "span-switch-to-legal-",  
    letter: "span-switch-to-letter-"
  };
</script>


 <div id="year-accordion" class="accordion">
{% for room_data in data_list %}
   <div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle"
	   data-toggle="collapse"
	   data-parent="#year-accordion"
	   href="#{{room_data.0.room_id}}">
	 {{room_data.0.room_name}} {% if room_data.0.status != '' %} {{room_data.0.status}} {% endif %}
	</a>
       </div>{# accordion-heading #}

      <div id="{{room_data.0.room_id}}" class="accordion-body collapse">
	<div class="accordion-inner">

{% for data in room_data %}

<div style="margin-bottom: 60px;" id="schedule-{{data.id}}"></div>

{% if data.conflict %}
  <p> 
    <span class="label label-warning">Warning </span> There are overlapping course offerings.
  </p>
   {% for warning in data.conflict %}
      <p> <b>{{warning.0}}:</b> {{warning.1}} </p>
   {% endfor %}
      {% endif %}

<div>
  {% if data.offerings and can_edit %}                                     
    <span class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Edit Days, Times & Rooms
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        {% for course in data.offerings %}
        <li><a href="{% url 'update_class_schedule' course.id 0 %}?next={{ request.path|urlencode }}">{{course.name}}</a></li>
        {% endfor %}
      </ul>
    </span>
  {% endif %}
  <span>
    <!-- https://stackoverflow.com/questions/23443579/how-to-stop-buttons-from-staying-depressed-with-bootstrap-3 -->
    <button class="btn btn-info" onclick="createSchedule('{{data.id}}', true, false, 'LETTER', roomData['{{data.id}}'], showFlexibleSchedule, showPdfSchedule, htmlElementIds)" onmousedown="event.preventDefault()" id="toggle-{{data.id}}">Schedule</button>
  </span>
  <span style="display: none;" id="span-switch-to-normal-{{data.id}}">
    <!-- https://stackoverflow.com/questions/23443579/how-to-stop-buttons-from-staying-depressed-with-bootstrap-3 -->
    <button class="btn btn-info" onclick="createSchedule('{{data.id}}', false, true, 'LETTER', roomData['{{data.id}}'], showFlexibleSchedule, showPdfSchedule, htmlElementIds)" onmousedown="event.preventDefault()" id="toggle-pdf-{{data.id}}">Stop Printable View</button>
  </span>
  <span class="dropdown" id="span-switch-to-pdf-{{data.id}}">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" id="paperSize">Switch to Printable (PDF) View
    <span class="caret"></span></button>
    <ul class="dropdown-menu" style="position: absolute; right: 0px">
      <li><a onclick="createSchedule('{{data.id}}', false, true, 'LETTER', roomData['{{data.id}}'], showFlexibleSchedule, showPdfSchedule, htmlElementIds)" onmousedown="event.preventDefault()" href="#">Letter</a></li>
      <li><a onclick="createSchedule('{{data.id}}', false, true, 'LEGAL', roomData['{{data.id}}'], showFlexibleSchedule, showPdfSchedule, htmlElementIds)" onmousedown="event.preventDefault()" href="#">Legal</a></li>
    </ul>
  </span>
  <span style="display: none;" class="dropdown" id="span-switch-to-legal-{{data.id}}">
    <button class="btn btn-info" onclick="createSchedule('{{data.id}}', false, false, 'LEGAL', roomData['{{data.id}}'], showFlexibleSchedule, showPdfSchedule, htmlElementIds)" onmousedown="event.preventDefault()">Switch to Legal Size</button>
  </span>
  <span style="display: none;" class="dropdown" id="span-switch-to-letter-{{data.id}}">
    <button class="btn btn-info" onclick="createSchedule('{{data.id}}', false, false, 'LETTER', roomData['{{data.id}}'], showFlexibleSchedule, showPdfSchedule, htmlElementIds)" onmousedown="event.preventDefault()">Switch to Letter Size</button>
  </span>
</div>

<!-- https://stackoverflow.com/questions/6910349/hiding-table-data-using-div-style-displaynone -->
<canvas style="display: block" id="{{data.id}}"></canvas>
<iframe style="display: none; margin-top: 20px; margin-bottom: 20px;" id="iframe-{{data.id}}">
</iframe>


  <script>
    $(function() {
      createSchedule("{{data.id}}", false, false, 'LETTER', roomData['{{data.id}}'], 
        showFlexibleSchedule, showPdfSchedule, htmlElementIds);
    });
  </script>

{% endfor %}

</div>
</div>
</div>
{% endfor %}
</div>


  <script>
    $(window).load(function(){
    $("#nav-schedule").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Room Schedules</h1><h2>{{department}}, {{year}}</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>


{% endblock %}

