{% extends "base.html" %}

{% block content %}
<div class="content-center">
    <form action="" method="post">
      {% csrf_token %}
<p> <h2>Years to Include in Search</h2></p>
      <p>
  <div class="alert alert-student-info">
    <table class="table table-striped table-bordered table-hover">
      <tbody>
	    {% for year in academic_year_list %}
	    <tr>
	    <th>
	    <div align="center">
	      {{year.year_name}}
	    </div>
	    </th>
	    <td>
	<input type="checkbox" checked = "yes" name="years_for_search" id="yearid{{year.id}}" value={{year.begin_on}} />
	    </td>
	    </tr>
	    {% endfor %}
      </tbody>
    </table>
 </div>
</p>

<p> <h2>Search Term</h2></p>
        <p><input type="text" name="course_search" id="cs"></p>
	<p> E.g., 'PHY 493' or 'PHY 4' or 'Electricity' </p> 
	<p><input type="submit" value="Search"></p>
    </form>
</div>



   <script>
    $(window).load(function(){
    $("#nav-file").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Search for Course(s) by Name</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
