{% extends "base.html" %}

{% block content %}

<style>
div.container {
    width: 770px;
    margin: 0 auto;
    background-color: #ffffff;
}

div.left {
    float: left;
    width: 160px;
    margin: 0;
}

div.content {
    float: left;
    margin-left: 220px;
    width: 330px;
  padding: 8px 10px 8px 14px;
  margin-bottom: 20px;
  background-color: #ffffff;
    border-color: gray;
    border: 4px solid #C0E7FA;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
</style>

<div>
<!--<h3> Use an existing course or create a new one. </h3>-->
<div class="container">
  <div class="left">
    <div class="alert alert-student-info">
      <p> <h3 class="content-center">Choose a Course from the Following List*....</h3> </p>
      <div class="content-center">
        <form method="post" id="courseForm" data-courses-url="{% url 'ajax_load_courses' %}" novalidate>
            {% csrf_token %}
            <table class="content-center">
              <tr>
                <td>Subject</td>
              </tr>
              <tr>
                <td>{{ form.subject}}</td>
              </tr>
              <tr>
                  <td>Course</td>
              </tr>
              <tr>
                <td>{{ form.course }}</td>
              </tr>
              {% if has_errors %}
              <tr>
                  <td style="padding-bottom: 10px">Please select a subject and course.</td>
              </tr>
              {% endif %}
            </table>
            <button type="submit">Submit</button>
          </form>
        </div>
     <div style="padding-bottom: 10px">
        <strong>*Note: </strong>If a subject does not show up in the above list,
        please contact the iChair site administrator.</td>
    </div>
     
     </div>
</div>
  <div class="content content-center">
    <!--<div class="alert alert-student-info">-->
      <p> <h3>Course not in the List?  Create a New One....</h3> </p>
<p> If the course does not appear in the list to the left, you may need to 
create a new course first.</p>
<p> <a class="btn" href="{% url 'add_course_confirmation' 1 %}">Create New Course</a></p> 
<p>(You probably <strong>don't</strong> want to do this.)</p>
<!--  </div>-->
  </div>

<!--

  <div class="right">
<p>
<div class="alert alert-student-info">
<p> In the following screens you will set up the details
for a new course offering.  
</p>
</div>
</p>

<p>
<div class="alert alert-student-info">
<p>
First you will choose the <strong>course</strong>,
then the <strong> semester </strong> and various details about <strong>where</strong> and <strong> when</strong>
the course will be taught, as well as <strong>who</strong> will teach it.  </p>

</div>
</p>


<div class="alert alert-student-info">
<p>You will be given the option
to skip some of the steps if you like. </p>
</div>
</p>
</div>
-->
</div>

<h3 class="content-center">In the next step you will choose the semester for this course offering. </h3>
</div>

<script>
function alertRegister()
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    /*document.getElementById("myDiv").innerHTML=xmlhttp.responseText;*/
    }
  }
xmlhttp.open("GET","/planner/alertregister/",true);
xmlhttp.send();
}
</script>

  <script>
    //https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html
    $("#id_subject").change(function () {
      var url = $("#courseForm").attr("data-courses-url");  // get the url of the `load_courses` view
      var subjectId = $(this).val();  // get the selected subject ID from the HTML input

      if (subjectId == '') {
        $("#id_course").html("<option value>---------</option>");
      } else {
        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (.../ajax/load-courses/)
          data: {
            'subjectId': subjectId       // add the subject id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_courses` view function
            $("#id_course").html(data);  // replace the contents of the course input with the data that came from the server
          }
        });
      }

    });
  </script>

   <script>
    $(window).load(function(){
    alertRegister();
    $('.page-name').find('h1').replaceWith('<h1>Add a New Offering of a Course</h1><h2>- Select Course -</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% if never_alerted_before %}
<script> alert("The next few pages will step you through the process of setting up an offering of a course.  \n\nPlease do not click on the 'back' button during this process, or a form could accidentally be submitted twice, leading to multiple entries in the database.")</script>
{% endif %}

{% endblock %}
