{% extends "base.html" %}

{% block content %}

<div class="content-center">

{% if daisy_chaining %}
<p>
 <a class="btn btn-info" href="{{next}}">Skip This Step</a>
</p>
{% endif %}

<p> <h3> Choose one or more instructors for this section </h3></p>
<p> {{form.errors}} </p>

     {% if errordict.prof_repeated_error %}
<div class="alert alert-error">
        <p class="error"> {{errordict.prof_repeated_error}} </p>
</div>
     {% endif %}
     {% if errordict.load_credit %}
<div class="alert alert-error">
        <p class="error"> {{errordict.load_credit}} </p>
</div>
     {% endif %}
     {% if errordict.instructor %}
<div class="alert alert-error">
        <p class="error"> {{errordict.instructor}} </p>
</div>
     {% endif %}
     {% if errordict.over_all_form_errors %}
<div class="alert alert-error">
        <p class="error"> {{errordict.over_all_form_errors}} </p>
</div>
     {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="cyoc_div">
	{{ formset.management_form }}
	<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
	<td> Instructor </td>
	<td> Load Hours </td>
	<td> Delete </td>
	</tr>
	{% for subform in formset %}
	<tr>
        <td>{{subform.id}} {{ subform.instructor }}</td>
	<td>{{subform.id}} {{ subform.load_credit }}</td>
	<td>{{subform.id}} {{ subform.DELETE }} </td>
	</tr>
	{% endfor %}
	</table>
      </div>

      <div class="cyoc_div">
        {% if form.load_available.errors %}

        <p class="error">{{ form.load_available.errors }}</p>{% endif %}

        <p><label form="load_available" if="" form.load_available.errors="" class="error" endif="">Load
        Available:</label></p>

        <p>{{ form.load_available }}</p>
      </div>

      <div class="cyoc_div">
        {% if form.max_enrollment.errors %}

        <p class="error">{{ form.max_enrollment.errors }}</p>{% endif %}

        <p><label form="max_enrollment" if="" form.max_enrollment.errors="" class="error"
        endif="">Maximum Enrollment:</label></p>

        <p>{{ form.max_enrollment }}</p>
      </div>

      <div class="cyoc_div">

        <p><label form="max_enrollment" if="" form.max_enrollment.errors="" class="error"
        endif="">Comments:</label></p>

        <p>{{ form.comment }}</p>
      </div>

      <p><input type="submit" alt="register" /></p>
    </form>

<!--
{% if daisy_chaining %}
<p>
<div class="alert alert-student-info">
 <a class="btn" href="{{next}}">Skip This Step</a>
</div>
</p>
{% endif %}
-->

  </div>




   <script>
    $(window).load(function(){
    $('.page-name').find('h1').replaceWith('<h1>{{course}}</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
