{% extends "base.html" %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<!--
<script type='text/javascript'>
        var json_data = {{ json_data| safe }};
</script>
-->

   <div class="content-center">

<p> <h3> Select meeting time(s) and room(s) for this offering</h3></p>

     {% if errordict.formset_error %}
<div class="alert alert-error">
        <p class="error"> {{errordict.formset_error}} </p>
</div>
     {% endif %}
     {% if errordict.room %}
<div class="alert alert-error">
        <p class="error"> A room needs to be specified for each class period. </p>
</div>
     {% endif %}
     {% if errordict.begin_at %}
<div class="alert alert-error">
        <p class="error"> A beginning time needs to be specified (e.g., 9:00). </p>
</div>
     {% endif %}
     {% if errordict.end_at %}
<div class="alert alert-error">
        <p class="error"> An ending time needs to be specified (e.g., 9:50). </p>
</div>
     {% endif %}
     <div id="app">
    <form action="" method="post">
      {% csrf_token %}
      <div class="cyoc_div extra-bottom-margin">
	{{ formset.management_form }}
	<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
	<td> Day </td>
	<td> Begin Time (e.g., 13:00)</td>
	<td> End Time (e.g., 13:50)</td>
        <!--
        <td> Room </td>
        -->
        <td> Rooms </td>
	<td> Delete </td>
	</tr>
	{% for subform in formset %}
	<tr>
        <td>{{subform.id}} {{ subform.day }}</td>
	<td>{{subform.id}} {{ subform.begin_at }}</td>
	<td>{{subform.id}} {{ subform.end_at }}</td>
        <td>
                
                {% if subform.id.value is None %} None!!
                        <rooms-container 
                                :initial-room-ids="[]" 
                                :scheduled-class-id="null" 
                                :all-rooms="{{ all_rooms }}" 
                                :scheduled-class-counter="{{ forloop.counter0 }}"
                                :no-room-selected-id="{{ no_room_selected_id }}"
                                :base-ids-for-label="{{ rooms_id_for_label }}"
                                ></rooms-container>
                {% else %}
                        <rooms-container 
                                :initial-room-ids="{{ subform.rooms.value }}" 
                                :scheduled-class-id="{{ subform.id.value }}" 
                                :all-rooms="{{ all_rooms }}" 
                                :scheduled-class-counter="{{ forloop.counter0 }}"
                                :no-room-selected-id="{{ no_room_selected_id }}"
                                :base-ids-for-label="{{ rooms_id_for_label }}"
                                ></rooms-container>
                {% endif %}



                <!--https://stackoverflow.com/questions/17484512/django-show-manytomany-field-of-model-using-modelchoicefield
                <select name='room' style="width: 50%;">
                        {% for room in rooms %}
                            <option value='{{ room.id }}'>{{ room.short_name }}</option>
                        {% endfor %}
                </select>
                <span style="float: right;">
                        <a class="btn btn-info" href="">
                                        Add Room</a>
                </span>
        -->
        </td>
	<!--<td>{{subform.id}} {{ subform.room }}</td>-->
        <!--<td>{{subform.id}} {{ subform.rooms }}</td>-->
	<td>{{subform.id}} {{ subform.DELETE }} </td>
	</tr>
	{% endfor %}
	</table>
      </div>

      <p><input type="submit" value="Submit" /></p>
    </form>
    </div>

    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <div class="cyoc_div extra-bottom-margin">
	{{ formset.management_form }}

        <div id="app">

        
	<table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
	<td> Day </td>
	<td> Begin Time (e.g., 13:00)</td>
	<td> End Time (e.g., 13:50)</td>
	
        <!--
        <td> Room </td>
        
        <td> Rooms </td>
	<td> Delete </td>
	</tr>
	
        {% for subform in formset %}
	<tr>
        <td>{{subform.id}} {{ subform.day }}</td>
	<td>{{subform.id}} {{ subform.begin_at }}</td>
	<td>{{subform.id}} {{ subform.end_at }}</td>
        <td>
                {% if subform.id.value is None %} None!!
                <rooms-container :selected-rooms-ids="[]" :scheduled-class-id="null" :all-rooms="{{ all_rooms }}" :scheduled-class-counter="{{ forloop.counter0 }}"></rooms-container>
                {% else %}
                <rooms-container :selected-room-ids="{{ subform.rooms.value }}" :scheduled-class-id="{{ subform.id.value }}" :all-rooms="{{ all_rooms }}" :scheduled-class-counter="{{ forloop.counter0 }}"></rooms-container>
                {% endif %}
        </td>
        <!-- {{ forloop.counter0 }}-->
        <!--subform.rooms.value gives the list of values; subform.rooms.name gives the list of all rooms-->
	<!--<td>{{subform.id}} {{ subform.room }}</td>-->
        <!--<td>{{subform.id}} {{ subform.rooms }}</td>
	<td>{{subform.id}} {{ subform.DELETE }} </td>
	</tr>
	{% endfor %}

        <!--
        <scheduled-meeting v-for="row in rowData" :data="row"></scheduled-meeting>
        

	
	</table>

        </div>

      </div>
-->


    <!-- Embedded data (from server) -->
    <script>
      const dayData = [
        {
          id: "day-1",
          name: "Monday",
          rooms: [
            { id: "E103", name: "Euler 103" },
            { id: "E109", name: "Euler 109" },
            { id: "N123", name: "Nussbaum 123" },
          ],
        },
        {
          id: "day-2",
          name: "Wednesday",
          rooms: [
            { id: "E103", name: "Euler 103" },
            { id: "E109", name: "Euler 109" },
          ],
        },
        {
          id: "day-3",
          name: "Friday",
          rooms: [
            { id: "E109", name: "Euler 109" },
            { id: "N123", name: "Nussbaum 123" },
          ],
        },
      ];
    </script>

    <!---
        <div id="app">
        <!--{% include "vue/rooms.html" %}
        <p>[[ message ]]</p>
        <form method="post">
                <!-- Illustrating use of child component 
                <day-picker v-for="day in days" :day="day" :key="day.id"></day-picker>
                
                <!-- Ordinary form submission 
                <input type="submit" value="Book My Room(s)" />
        </form>
        <room-collection :rooms="rooms" :rows="rowData"></room-collection>

        <div v-for="room in rooms">
                [[room]]
        </div>
    </div>
        -->
    
  </div>

   <script>
        {% include "vue/rooms.js" %}
   </script>

   <script>
    $(window).load(function(){
    $('.page-name').find('h1').replaceWith('<h1>{{course}}</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
