{% extends "base.html" %}

{% block content %}

   <div class="content-center">
     <form style="margin-bottom: 10px;" action=""  method="post">
      {% csrf_token %}

      {{ form.as_table }}
      <p><input type="submit" value="Submit" /></p>
     </form>
     {% if can_edit %}
     <div>
      <p style="margin-bottom: 5px;">
        Don't see a sandbox year that you created?  It might be hidden.
      </p>
      <p>  
        Go to <a href="{% url 'manage_sandbox_years' %}">Manage Sandbox Years</a> to unhide it or to 
        create a new sandbox year.
      </p>
     </div>
     {% endif %}
   </div>

   <script>
    $(window).load(function(){
    $("#nav-coursesummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Academic Year To View</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
