{% extends "base.html" %}

{% block extrahead %}
{% load static %}
<link href='{% static "css/chosen.css" %}' media="screen" rel="stylesheet" type="text/css">
<link href='{% static "css/ui.multiselect.css" %}' media="screen" rel="stylesheet" type="text/css">
<link href='{% static "css/ui_multiselect_KK_additions.css" %}' media="screen" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-1.9.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>

  <script type="text/javascript" src='{% static "js/ui.multiselect.js" %}'></script>
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <style>
  .warning-container {
	  width: 300px;
	  height: 40px;
	  margin-left: auto;
	  margin-right: auto;
	  border-style: solid;
	  border-width: 2px;
	  color: #b94a48;
	  background-color: #f2dede;
	  border-color: #eed3d7;
	  border-radius: 4px;
	  padding: 15px;
	  font-weight: normal;
  }

  div.alert.alert-student-info {
  width: 700px!important;
  }
  </style>
  
<div class="container">
	<div class="row">
		<div class="span5 offset4">
				<a class="btn btn-info" href="{% url 'add_faculty_to_view_list' %}?next={{ request.path|urlencode }}">Add Faculty to List</a>
		
		</div>
	</div>
</div>	
<!--

Code taken from:

http://quasipartikel.at/multiselect_next/

(modifications made afterwards).

-->
<!--
<style>
.header-container {
width: 720px;
height: 40px;
margin-left: auto;
margin-right: auto;
border-style: solid;
border-width: 2px;
border-color: gray;
border-radius: 4px;
padding-top: 17px;
font-size: 20px;
background-color: #eee;
font-weight: normal;
}
.header-box-left {
width: 358px;
/*height: 20px;*/
/*border-style: solid;*/
/*border-color: black;*/
/*border-width: 2px;*/
float: left;
/*border: solid;*/
border-right: solid 4px gray;
}
.header-box-right {
width: 358px;
/*height: 20px;*/
/*border-style: solid;*/
/*border-color: black;*/
/*border-width: 2px;*/
float: left;
/*border: solid;*/
}
.header-center {
width: 90px;
margin-left: 0px;
/*border-style: solid;*/
/*border-color: black;*/
/*border-width: 2px;*/
float: left;
}
.instructions-container {
width: 900px;
height: 60px;
margin-left: auto;
margin-right: auto;
border-style: solid;
border-width: 2px;
border-color: gray;
border-radius: 4px;
padding-top: 0px;
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
font-weight: normal;
}

</style>
-->

  <div class="content-center">
	  <h3>
		  Choose Which Faculty Members to Display in Views*
	  </h3>

	  <div>
		  
		  <button class="btn btn-info" onmouseover="popFacultyWithLoads()" onmouseout="unPopFacultyWithLoads()" onclick="checkFacultyWithLoads()" id="selectFacultyWithLoads"> Select only faculty with loads </button> 
		
	  </div>

	  <br/>
	  
	  <!-- <div class="content-center">-->
	  <form action=""  method="post">
		  {% csrf_token %}
		  <p><input type="submit" value="Submit"/></p>
		  <div class="alert alert-student-info wide">
		    
			  <table class="table table-striped table-bordered table-hover">
				  <thead>
					  <tr>
						<th> Faculty Member </th>
						<th> Dept </th>
					    <th style="text-align: center;"> Rank/Status </th>
					    {% if can_edit %}
					    <th> Action </th>
					    {% endif %}
						  <th style="text-align: center;"> # Ld Hrs in Dept</th>
						  <th style="text-align: center;"> Display </th>
					  </tr>
				  </thead>
				  <tbody>
					  {% for faculty in faculty_info %}
					  <tr id="row{{faculty.faculty.id}}">
					    <td id="faculty{{faculty.faculty.id}}">
							  {{ faculty.faculty }}
						</td>
						<td>{{ faculty.faculty.department.abbrev }} </td>
					    <td style="text-align: center;" >
					      {% if faculty.faculty.inactive_starting %}
					      Inactive as of {{faculty.faculty.inactive_starting}}
					      {% else %}
					      {{faculty.faculty.rank}}
					      {% endif %}
					    </td>
					    {% if can_edit %}
						<td style="text-align: center;" >
							{% if faculty.is_in_this_dept %}
								<a href="{% url 'update_faculty_member' faculty.faculty.id %}?next={{ request.path|urlencode }}">Edit</a>
							{% endif %}
					    </td>
					    {% endif %}
					    <td style="text-align: center;" id="load{{faculty.faculty.id}}">
					      {% if faculty.is_active %}
					      {{ faculty.load}}
					      {% endif %}
					    </td>
					    <td id="cboxtd{{faculty.faculty.id}}" style="text-align: center;">
					      {% if faculty.is_active %}
					      <input  type="checkbox" {% if faculty.view_this_faculty %} checked = "yes" {% endif %} name="faculty_to_display" id="option{{faculty.faculty.id}}" value={{faculty.faculty.id}} />
					      {% endif %}
					    </td>
					  </tr>
					  {% endfor %}
				  </tbody>
			  </table>
			  
		  </div>
		  <p><input type="submit" value="Submit"/></p>
		
	  </form>
	  <div class="alert alert-student-info">  
			<a style="padding-right: 10px;" class="close" data-dismiss="alert">×</a>  
			<div><strong>*Note:</strong> If a faculty member has retired or left the department,
				click on "Edit" and set the faculty member's status to Inactive.  If a faculty member's 
				data needs to be deleted from the database, please contact the site administrator.
			</div>   
		  </div>   
	  <div id="warningBox" class="warning-container"> <strong>Note: </strong>One or more faculty members
		  have load assigned but will not be displayed.</div>
  </div>

  <script>
  document.getElementById('warningBox').style.visibility = 'hidden';
  var facultyWithLoadsNotSelected = false;
  $(function() {
	  var facultyWithLoads = {{json_faculty_with_loads|safe}};
	  for (var n=0; n < facultyWithLoads.length; n++) {
		  //console.log('option'+facultyWithLoads[n]);
		  var checkbox = document.getElementById('option'+facultyWithLoads[n]);
		  //console.log(checkbox);
		  var load = document.getElementById('load'+facultyWithLoads[n]);
		  var cBox = document.getElementById('cboxtd'+facultyWithLoads[n]);
		  if (checkbox !== null) {// shouldn't be null, but just in case....
			if (!checkbox.checked) {
			  load.style.color = '#b94a48';
			  cBox.style.backgroundColor = '#f2dede';
		  	}
		  }
	  }
  })
  </script>
  
<script>
$(function() {
	var facultyWithLoads = {{json_faculty_with_loads|safe}};
	function handleElement(i) {
		$('#option'+facultyWithLoads[i]).on('change', function(){
			var checkbox = document.getElementById('option'+facultyWithLoads[i]);
			var load = document.getElementById('load'+facultyWithLoads[i]);
			var row = document.getElementById('row'+facultyWithLoads[i]);
			var cBox = document.getElementById('cboxtd'+facultyWithLoads[i]);
			if (!checkbox.checked) {
				load.style.color = '#b94a48';
				load.style.backgroundColor = '#f2dede';
				cBox.style.backgroundColor = '#f2dede';
				facultyWithLoadsNotSelected = true;
				document.getElementById('warningBox').style.visibility = 'visible';
//				document.getElementById('warningMessage').innerHTML = 'Note: One or more faculty members have load assigned but will not be displayed.';
			} else {
				load.style.color = row.style.color;
				load.style.backgroundColor = row.style.backgroundColor;
				cBox.style.backgroundColor = row.style.backgroundColor;
				if (facultyWithLoadsOK()) {
					document.getElementById('warningBox').style.visibility = 'hidden';
				};
			}
		});
	}
	for (var n=0; n < facultyWithLoads.length; n++) {
		handleElement(n);
	}
});

function facultyWithLoadsOK() {
	var facultyWithLoads = {{json_faculty_with_loads|safe}};
	var facultyOK = true;
	for (var n=0; n < facultyWithLoads.length; n++) {
		if (!document.getElementById('option'+facultyWithLoads[n]).checked) {
			facultyOK = false;
		};
	};
	return facultyOK;
};
	
function checkFacultyWithLoads() {
	var facultyWithLoads = {{json_faculty_with_loads|safe}};
        var facultyWithoutLoads = {{json_faculty_without_loads|safe}};
	var row;
	for (var n=0; n < facultyWithLoads.length; n++) {
		document.getElementById('option'+facultyWithLoads[n]).checked = true;
		row = document.getElementById('row'+facultyWithLoads[n]);
		document.getElementById('cboxtd'+facultyWithLoads[n]).style.backgroundColor = row.style.backgroundColor;
		document.getElementById('load'+facultyWithLoads[n]).style.backgroundColor = row.style.backgroundColor;
		document.getElementById('load'+facultyWithLoads[n]).style.color = row.style.color;
		document.getElementById('warningBox').style.visibility = 'hidden';
	};
	for (var n=0; n < facultyWithoutLoads.length; n++) {
		document.getElementById('option'+facultyWithoutLoads[n]).checked = false;
	}
};

function popFacultyWithLoads() {
	var facultyWithLoads = {{json_faculty_with_loads|safe}};
	for (var n=0; n < facultyWithLoads.length; n++) {
		document.getElementById('cboxtd'+facultyWithLoads[n]).style.backgroundColor = '#dff0d8';
		//document.getElementById('load'+facultyWithLoads[n]).style.color = '#468847';
	};
};

function unPopFacultyWithLoads() {
	var facultyWithLoads = {{json_faculty_with_loads|safe}};
	var cBox;
	var checkbox;
	var load;
	for (var n=0; n < facultyWithLoads.length; n++) {
		cBox = document.getElementById('cboxtd'+facultyWithLoads[n]);
		checkbox = document.getElementById('option'+facultyWithLoads[n]);
		load = document.getElementById('load'+facultyWithLoads[n]);
		if (checkbox !== null) {
			if (!checkbox.checked) {
				load.style.color = '#b94a48';
				cBox.style.backgroundColor = '#f2dede';
			} else {
				cBox.style.backgroundColor = document.getElementById('row'+facultyWithLoads[n]).style.backgroundColor;
			}
		}
	};
};

	
</script>



   
   <script>
    $(window).load(function(){
    $("#nav-coursesummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Faculty Members To Display</h1><h2>{{dept_academic_year}}</h2>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
