{% extends "base.html" %}

{% block extrahead %}
{% load static %}
<link href='{% static "css/chosen.css" %}' media="screen" rel="stylesheet" type="text/css">
<link href='{% static "css/ui.multiselect.css" %}' media="screen" rel="stylesheet" type="text/css">
<link href='{% static "css/ui_multiselect_KK_additions.css" %}' media="screen" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>

  <script type="text/javascript" src='{% static "js/ui.multiselect.js" %}'></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <style>
  .warning-container {
	  width: 300px;
	  height: 40px;
	  margin-left: auto;
	  margin-right: auto;
	  border-style: solid;
	  border-width: 2px;
	  color: #b94a48;
	  background-color: #f2dede;
	  border-color: #eed3d7;
	  border-radius: 4px;
	  padding: 15px;
	  font-weight: normal;
  }

  </style>

  

  <div class="content-center">
	  <h3>
		  Choose Which Load Types to Display in Views*
	  </h3>
	    
	  <div>
		  
		  <button class="btn btn-info" onmouseover="popLoadsBeingUsed()" onmouseout="unPopLoadsBeingUsed()" onclick="checkLoadsBeingUsed()" id="selectLoadsBeingUsed"> Select only load types in use by this department </button> 
	  </div>

	  <br/>
	  
	  <!-- <div class="content-center">-->
	  <form action=""  method="post">
		  {% csrf_token %}
		  <p><input type="submit" value="Submit"/></p>
		  <div class="alert alert-student-info">
		    
		    <table class="table table-striped table-bordered table-hover">
		      <thead>
			<tr>
			  <th> Load Type </th>
			  <th style="text-align: center;"> In Use? </th>
			  <th style="text-align: center;"> Display </th>
			</tr>
		      </thead>
		      <tbody>
			{% for load in loads %}
			<tr id="row{{load.load.id}}">
			  <td id="load{{load.load.id}}">
			    {{load.load}}
			  </td>
			  <td style="text-align: center;" id="use{{load.load.id}}">
			    {% if load.in_use %} yes {% endif %}
			  </td>
			  <td id="cboxtd{{load.load.id}}" style="text-align: center;">
			    <input  type="checkbox" {% if load.view_this_load %} checked = "yes" {% endif %} name="loads_to_display" id="option{{load.load.id}}" value={{load.load.id}} />
			  </td>
			</tr>
			
			{% endfor %}
		      </tbody>
		    </table>
		    
		  </div>
		  <p><input type="submit" value="Submit"/></p>
		
	  </form>

	  <div class="alert alert-student-info">  
		<a class="close" data-dismiss="alert">×</a>  
		<div><strong>*Note:</strong> If a particular type of load has not yet been assigned in the department, 
			checking it here will make it show up in the faculty load summary.  If load
			has already been assigned, it will show up regardless of the settings defined here.
	  	</div>   
	  </div>   
		
	  <!--
	  <div id="warningBox" class="warning-container"> Note: One or more load types that are being used by the department
		  will not be displayed.</div>
	  -->
  </div>

  <script>
  //document.getElementById('warningBox').style.visibility = 'hidden';
  var loadsInUseNotSelected = false;
  $(function() {
	  var loadsInUse = {{json_loads_in_use|safe}};
	  for (var n=0; n < loadsInUse.length; n++) {
		  var checkbox = document.getElementById('option'+loadsInUse[n]);
		  var use = document.getElementById('use'+loadsInUse[n]);
		  var cBox = document.getElementById('cboxtd'+loadsInUse[n]);
		  if (!checkbox.checked) {
			  use.style.color = '#b94a48';
			  cBox.style.backgroundColor = '#f2dede';
		  }
	  }
  })
  </script>
  
<script>
$(function() {
	var loadsInUse = {{json_loads_in_use|safe}};
	function handleElement(i) {
		$('#option'+loadsInUse[i]).on('change', function(){
			var checkbox = document.getElementById('option'+loadsInUse[i]);
			var use = document.getElementById('use'+loadsInUse[i]);
			var row = document.getElementById('row'+loadsInUse[i]);
			var cBox = document.getElementById('cboxtd'+loadsInUse[i]);
			if (!checkbox.checked) {
				use.style.color = '#b94a48';
				use.style.backgroundColor = '#f2dede';
				cBox.style.backgroundColor = '#f2dede';
				loadsInUseNotSelected = true;
				//document.getElementById('warningBox').style.visibility = 'visible';
			} else {
				use.style.color = row.style.color;
				use.style.backgroundColor = row.style.backgroundColor;
				cBox.style.backgroundColor = row.style.backgroundColor;
				if (loadsInUseOK()) {
					//document.getElementById('warningBox').style.visibility = 'hidden';
				};
			}
		});
	}
	for (var n=0; n < loadsInUse.length; n++) {
		handleElement(n);
	}
});

function loadsInUseOK() {
	var loadsInUse = {{json_loads_in_use|safe}};
	var loadsOK = true;
	for (var n=0; n < loadsInUse.length; n++) {
		if (!document.getElementById('option'+loadsInUse[n]).checked) {
			loadsOK = false;
		};
	};
	return loadsOK;
};
	
function checkLoadsBeingUsed() {
	var loadsInUse = {{json_loads_in_use|safe}};
	var loadsNotInUse = {{json_loads_not_in_use|safe}};
	var row;
	for (var n=0; n < loadsInUse.length; n++) {
		document.getElementById('option'+loadsInUse[n]).checked = true;
		row = document.getElementById('row'+loadsInUse[n]);
		document.getElementById('cboxtd'+loadsInUse[n]).style.backgroundColor = row.style.backgroundColor;
		document.getElementById('use'+loadsInUse[n]).style.backgroundColor = row.style.backgroundColor;
		document.getElementById('use'+loadsInUse[n]).style.color = row.style.color;
		//document.getElementById('warningBox').style.visibility = 'hidden';
	};
	for (var n=0; n < loadsNotInUse.length; n++) {
		document.getElementById('option'+loadsNotInUse[n]).checked = false;
	}
};

function popLoadsBeingUsed() {
	var loadsInUse = {{json_loads_in_use|safe}};
	for (var n=0; n < loadsInUse.length; n++) {
		document.getElementById('cboxtd'+loadsInUse[n]).style.backgroundColor = '#dff0d8';
		//document.getElementById('use'+loadsInUse[n]).style.color = '#468847';
	};
};

function unPopLoadsBeingUsed() {
	var loadsInUse = {{json_loads_in_use|safe}};
	var cBox;
	var checkbox;
	var use;
	for (var n=0; n < loadsInUse.length; n++) {
		cBox = document.getElementById('cboxtd'+loadsInUse[n]);
		checkbox = document.getElementById('option'+loadsInUse[n]);
		use = document.getElementById('use'+loadsInUse[n]);
		if (!checkbox.checked) {
			use.style.color = '#b94a48';
			cBox.style.backgroundColor = '#f2dede';
		} else {
			cBox.style.backgroundColor = document.getElementById('row'+loadsInUse[n]).style.backgroundColor;
		}
		
	};
};

	
</script>



   
   <script>
    $(window).load(function(){
    $("#nav-coursesummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Load Types To Display</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
