{% extends "base.html" %}

{% block content %}

<style>
   .banner-titles {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      font-weight: normal;
   }

   /*
   .alert {
      padding-left: 10px;
   }
   */
   div.alert.alert-student-info {
      width: 400px !important;
   }
   /*
   .table {
      margin-bottom: 0px !important;
   }
   */
   /*
   div.table.table.table-striped.table-bordered.table-hover {
      margin-bottom: 0px !important;
   }
   */
   input[type="text"] {
      width: 400px;
   }
</style>
<!-- https://www.techiedelight.com/set-width-input-textbox-html-css-javascript/ -->


<div class="content-center">

   <form action="" method="post">
      {% csrf_token %}

      <!-- https://docs.djangoproject.com/en/4.0/topics/forms/ -->
      <div>
         <label for="{{ form.name.id_for_label }}">Name for this sandbox year:</label>
         {{ form.name }}
      </div>
      <!-- https://www.w3schools.com/tags/att_input_disabled.asp -->
      <!-- https://www.geeksforgeeks.org/html-dom-input-checkbox-disabled-property/ -->
      {% if viewing_this_year %}
      <div style="margin-bottom: 10px;">
         <label for="{{ form.is_hidden.id_for_label }}">Hide this sandbox year:</label>
         <input type="checkbox" name="{{form.is_hidden.html_name}}" id="{{ form.is_hidden.id_for_label }}" disabled>
      </div>
      <div style="margin-bottom: 10px;">
         <p style="margin-bottom: 0px;">
            <strong>
               This year cannot be hidden because you are currently viewing it.
            </strong>
         </p>
         <p style="margin-top: 0px;">
            If you want to hide this sandbox year, you can first  
            <a href="{% url 'update_year_to_view' user_preferences_id %}?next={{ request.path|urlencode }}"> change</a>
            which academic year you are viewing.
         </p>
      </div>
      {% else %}
      <div style="margin-bottom: 20px;">
         <label for="{{ form.is_hidden.id_for_label }}">Hide this sandbox year:</label>
         {{ form.is_hidden }}
      </div>
      {% endif %}
      <p><input type="submit" value="Submit" /></p>
   </form>

</div>

<script>
   $(window).load(function () {
      $('.page-name').find('h1').replaceWith('<h1>Update Sandbox Year</h1>');
      $(".page-name").stop().animate({ opacity: 1, 'margin-left': '5%' }, 700);
   });
</script>

{% endblock %}