{% extends "base.html" %}

{% block extrahead %}
{% load static %}
<link href='{% static "css/chosen.css" %}' media="screen" rel="stylesheet" type="text/css">
<link href='{% static "css/ui.multiselect.css" %}' media="screen" rel="stylesheet" type="text/css">
<link href='{% static "css/ui_multiselect_KK_additions.css" %}' media="screen" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-1.9.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>

  <script type="text/javascript" src='{% static "js/ui.multiselect.js" %}'></script>
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/smoothness/jquery-ui.css" rel="stylesheet">
{% endblock %}

{% block content %}

  <style>
  .warning-container {
	  width: 300px;
	  height: 40px;
	  margin-left: auto;
	  margin-right: auto;
	  border-style: solid;
	  border-width: 2px;
	  color: #b94a48;
	  background-color: #f2dede;
	  border-color: #eed3d7;
	  border-radius: 4px;
	  padding: 15px;
	  font-weight: normal;
  }

  div.alert.alert-student-info {
  width: 600px!important;
  }
  </style>

  

  <div class="content-center">
	  <h3>
		  Choose Which Rooms to Display in Views
	  </h3>

	  <div>
		  
		  <button class="btn btn-info" onmouseover="popRoomsBeingUsed()" onmouseout="unPopRoomsBeingUsed()" onclick="checkRoomsBeingUsed()" id="selectRoomsBeingUsed"> Select only rooms in use by this department </button> 
	  </div>

	  <br/>
	  
	  <!-- <div class="content-center">-->
	  <form action=""  method="post">
		  {% csrf_token %}
		  <p><input type="submit" value="Submit"/></p>
		  <div class="alert alert-student-info">
		    
			  <table class="table table-striped table-bordered table-hover">
				  <thead>
				  <tr>
					    <th> Room </th>
						<th style="text-align: center;"> Status </th>
					    <th style="text-align: center;"> In Use? </th>
					    <th style="text-align: center;"> Display </th>
				  </tr>
				  </thead>
			  <tbody>
			    {% for building in room_info %}
				    {% for room in building.rooms %}
				    <tr id="row{{room.room.id}}">
					    <td id="room{{room.room.id}}">
						    {{ room.room.building.abbrev }} {{room.room.number}}  
					    </td>
						<td style="text-align: center;">
						    {{ room.status}}
					    </td>
					    <td style="text-align: center;" id="use{{room.room.id}}">
						    {% if room.in_use %} yes {% endif %}
					    </td>
					    <td id="cboxtd{{room.room.id}}" style="text-align: center;">
						    <input  type="checkbox" {% if room.view_this_room %} checked = "yes" {% endif %} name="rooms_to_display" id="option{{room.room.id}}" value={{room.room.id}} />
					    </td>
				    </tr>
				    {% endfor %}
			    {% endfor %}
			  </tbody>
		    </table>
			  
		  </div>

		  <p><input type="submit" value="Submit"/></p>
		
	  </form>

	  <div id="warningBox" class="warning-container"> Note: One or more rooms that are being used by the department
		  will not be displayed.</div>
  </div>

  <script>
  document.getElementById('warningBox').style.visibility = 'hidden';
  var roomsInUseNotSelected = false;
  $(function() {
	  var roomsInUse = {{json_rooms_in_use|safe}};
	  for (var n=0; n < roomsInUse.length; n++) {
		  var checkbox = document.getElementById('option'+roomsInUse[n]);
		  var use = document.getElementById('use'+roomsInUse[n]);
		  var cBox = document.getElementById('cboxtd'+roomsInUse[n]);
		  if (!checkbox.checked) {
			  use.style.color = '#b94a48';
			  cBox.style.backgroundColor = '#f2dede';
		  }
	  }
  })
  </script>
  
<script>
$(function() {
	var roomsInUse = {{json_rooms_in_use|safe}};
	function handleElement(i) {
		$('#option'+roomsInUse[i]).on('change', function(){
			var checkbox = document.getElementById('option'+roomsInUse[i]);
			var use = document.getElementById('use'+roomsInUse[i]);
			var row = document.getElementById('row'+roomsInUse[i]);
			var cBox = document.getElementById('cboxtd'+roomsInUse[i]);
			if (!checkbox.checked) {
				use.style.color = '#b94a48';
				use.style.backgroundColor = '#f2dede';
				cBox.style.backgroundColor = '#f2dede';
				roomsInUseNotSelected = true;
				document.getElementById('warningBox').style.visibility = 'visible';
			} else {
				use.style.color = row.style.color;
				use.style.backgroundColor = row.style.backgroundColor;
				cBox.style.backgroundColor = row.style.backgroundColor;
				if (roomsInUseOK()) {
					document.getElementById('warningBox').style.visibility = 'hidden';
				};
			}
		});
	}
	for (var n=0; n < roomsInUse.length; n++) {
		handleElement(n);
	}
});

function roomsInUseOK() {
	var roomsInUse = {{json_rooms_in_use|safe}};
	var roomsOK = true;
	for (var n=0; n < roomsInUse.length; n++) {
		if (!document.getElementById('option'+roomsInUse[n]).checked) {
			roomsOK = false;
		};
	};
	return roomsOK;
};
	
function checkRoomsBeingUsed() {
	var roomsInUse = {{json_rooms_in_use|safe}};
	var roomsNotInUse = {{json_rooms_not_in_use|safe}};
	var row;
	for (var n=0; n < roomsInUse.length; n++) {
		document.getElementById('option'+roomsInUse[n]).checked = true;
		row = document.getElementById('row'+roomsInUse[n]);
		document.getElementById('cboxtd'+roomsInUse[n]).style.backgroundColor = row.style.backgroundColor;
		document.getElementById('use'+roomsInUse[n]).style.backgroundColor = row.style.backgroundColor;
		document.getElementById('use'+roomsInUse[n]).style.color = row.style.color;
		document.getElementById('warningBox').style.visibility = 'hidden';
	};
	for (var n=0; n < roomsNotInUse.length; n++) {
		document.getElementById('option'+roomsNotInUse[n]).checked = false;
	}
};

function popRoomsBeingUsed() {
	var roomsInUse = {{json_rooms_in_use|safe}};
	for (var n=0; n < roomsInUse.length; n++) {
		document.getElementById('cboxtd'+roomsInUse[n]).style.backgroundColor = '#dff0d8';
		//document.getElementById('use'+roomsInUse[n]).style.color = '#468847';
	};
};

function unPopRoomsBeingUsed() {
	var roomsInUse = {{json_rooms_in_use|safe}};
	var cBox;
	var checkbox;
	var use;
	for (var n=0; n < roomsInUse.length; n++) {
		cBox = document.getElementById('cboxtd'+roomsInUse[n]);
		checkbox = document.getElementById('option'+roomsInUse[n]);
		use = document.getElementById('use'+roomsInUse[n]);
		if (!checkbox.checked) {
			use.style.color = '#b94a48';
			cBox.style.backgroundColor = '#f2dede';
		} else {
			cBox.style.backgroundColor = document.getElementById('row'+roomsInUse[n]).style.backgroundColor;
		}
		
	};
};

	
</script>



   
   <script>
    $(window).load(function(){
    $("#nav-coursesummary").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Rooms To Display</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
   </script>

{% endblock %}
