{% extends "base.html" %}
{% load i18n %}

{% block title %}Password change successful{% endblock %}

{# https://ordinarycoders.com/blog/article/django-password-reset #}
{# https://github.com/macropin/django-registration #}

{% block content %}
  <div class="content-center">
  
    <h2>Password change successful!</h2>
    <p>Your password has been updated.</p>


    <script>
        $(window).load(function(){
        $("#nav-login").addClass("current");
        $('.page-name').find('h1').replaceWith('<h1>Password Change</h1>');
        $(".page-name").stop().animate({
                        opacity: 1,
                    'margin-left': '5%'
                    }, 700);});
    </script>
{% endblock %}
