{% extends "base.html" %}

{# https://ordinarycoders.com/blog/article/django-password-reset #}
{# https://github.com/macropin/django-registration #}

{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}Confirm password reset{% endblock %}

{% block content %}

<div class="content-center">
  
{% if validlink %}
  <p>Pleae enter your new password below to reset your password.</p>
  <form method="post" action="">
      {% csrf_token %}
      <p>New password:</p>
      <p>
        {{ form.new_password1 }}
      </p>
      <p>New password confirmation:</p>
      <p>
        {{ form.new_password2 }}
      </p>

      {# https://stackoverflow.com/questions/2035288/getting-a-list-of-errors-in-a-django-form #}
      {% if form.errors %}
      <ul class="errorlist">
            {% for field in form %}

                {% for error in field.errors %}
                    <li>
                      {{ error|escape }}
                    </li>
                {% endfor %}

            {% endfor %}
      </ul>
      {% endif %}

      <input type="submit" value="{% trans 'Set password' %}" />
  </form>
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
{% endblock %}

</div>

{# This is used by django.contrib.auth #}

