{% extends "base.html" %}
{% load i18n %}

{# https://ordinarycoders.com/blog/article/django-password-reset #}
{# https://github.com/macropin/django-registration #}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<div class="content-center">

<h2>Email sent</h2>

<p>We've sent you an email with instructions for how to reset your password.</p>
<p>If you do not receive an email, please contact the site administrator.</p>
<p>(If you used the "tayloru.edu" version of your email address, you should try with the "taylor.edu" version instead.)</p>
</div>

<script>
    $(window).load(function(){
    $("#nav-login").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Password Reset</h1>');
    $(".page-name").stop().animate({
                    opacity: 1,
                'margin-left': '5%'
                }, 700);});
</script>

{% endblock %}
